<%- include('./_config.ejs'); %>

<% title = "エステティシャン専攻"; %>
<% body_class = "course_aie-course_esthe"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
    <div class="p-title">
        <div class="c-inner">
            <div class="title"><%- title; %></div>
        </div>
    </div>
    <div class="p-breadcrumb">
        <div class="c-inner -w1084">
            <div class="breadcrumb">
                <a href="">トップ</a><span>&gt;</span><a href="">アイエステ専攻一覧</a><span>&gt;</span><span><%- title; %></span>
            </div>
        </div>
    </div>
</header>

<div class="l-contents">
    <main class="l-main">
        <div class="c-schoolname -i">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_i_sp.png">
                    <img src="./assets/img/name_i.png" alt="アイエステ">
                </picture>
            </div>
        </div>
        <section>
            <div class="aie-c-fv">
                <img src="<%- dir %>assets/img/esthe/esthe_fv@3x.png" alt="エステティシャン専攻">
                <div class="aie-c-title esthe_bg">
                    <div>
                        <h2>エステティシャン専攻</h2>
                        <div class="aie-c-course">
                            インナービューティ科<br>
                            2年&nbsp;&nbsp;&nbsp;昼間部
                        </div>
                    </div>
                    <img src="<%- dir %>assets/img/esthe/aie-c-title@3x.png" alt="estheticien">
                </div>
            </div>
            <div class="aie-c-info">
                <div class="aie-c-info__pic">
                    <img src="<%- dir %>assets/img/esthe/fv_23x.png" alt="エステティシャンの人物画像">
                </div>
                <div class="aie-c-info__txt">
                    <div class="aie-c-info__wp">
                        <h3 class="aie-c-h3">働くところ
                            <span>WORKPLACE</span>
                        </h3>
                        <ul class="aie-c-wp-list">
                            <li>・ エステティックサロン</li>
                            <li>・ スパリゾートホテル</li>
                            <li>・リラクゼーションサロン  etc</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="aie-c-h3">めざす資格
                            <span>QUALIFICATION</span>
                        </h3>
                        <dl>
                            <dt>《必須取得資格》・・・・ </dt>
                            <dd>AEA認定エステティシャン</dd>
                        </dl>
                        <dl>
                            <dt>《専攻任意取得資格》・・    </dt>
                            <dd>
                                <ul>
                                    <li>AEA上級認定エステティシャン</li>
                                    <li>アロマコーディネーターライセンス</li>
                                    <li>ダイエット検定2級</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>《選択取得資格》・・・・ </dt>
                            <dd>
                                <ul>
                                    <li>日本メイクアップ技術検定3級</li>
                                    <li>JNECネイリスト技能検定3級</li>
                                    <li>色彩活用パーソナルカラー検定</li>
                                    <li>色彩活用ライフケアカラー検定</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="aie-c-qualified esthe_bg_d">
                <div class="aie-c-qualified__txt">
                    <h4>AEA上級認定エステティシャン資格</h4>
                    <p>AEA（日本エステティック業協会）は国内トップレベルの知識や技術・マナーを持つエステティックサロンが多数加盟している協会です。アイは協会認定校。AEAの資格を取得することで、高い評価・信頼を受けることができます。</p>
                    <img src="<%- dir %>assets/img/esthe/aie-accredited-school@3x.png" alt="一般社団法人日本エステティック業協会認定校">
                </div>
                <div class="aie-c-qualified__pic">
                    <img src="<%- dir %>assets/img/esthe/aie_pass_rate@3x.png" alt="合格率100%">
                </div>
            </div>
        </section>
        <section class="aie-c-schedule site-width">
            <div class="aie-c-section">
                <h3 class="aie-c-h3 esthe-schedule">時間割
                    <span>SCHEDULE</span>
                </h3>
                <img src="<%- dir %>assets/img/esthe/aie-c-schedule.png" alt="エステティシャン専攻の時間割">
                <div class="aie-c-schedule__curriculum">
                    <span class="esthe_bg_r">カリキュラム</span>
                    <ul>
                        <li>・ ホスピタリティ</li>
                        <li>・ ダイエット実習</li>
                        <li>・ 衛生・消毒・救急法</li>
                        <li>・ アロマベーシック</li>
                        <li>・ 東洋・西洋セラピー</li>
                        <li>・ サロンマネジメント＆法規</li>
                        <li>・ 生理学</li>
                        <li>・ ヨガベーシック</li>
                        <li>・ フェイシャル実技</li>
                        <li>・ メイク＆ヘアアレンジメント</li>
                        <li>・ 皮膚科学</li>
                        <li>・ リフレクソロジー</li>
                        <li>・ カウンセリング</li>
                        <li>・ 販売心理学</li>
                        <li>・ ブライダルビューティ</li>
                        <li>・ ビジネスマナー</li>
                        <li>・ 美容脱毛学</li>
                        <li>・ 化粧品学</li>
                        <li>・ 栄養学</li>
                        <li>・ ネイルケア  etc…</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="aie-c-voice aie-c-section">
            <div class="aie-c-voice__info">
                <h3 class="aie-c-h3">学生の声
                    <span>VOICE</span>
                </h3>
                <div class="aie-c-voice__name">
                    <p><span>星野  七愛美</span>さん</p>
                    <p>拓殖大学紅陵高等学校出身</p>
                </div>
                <div class="aie-c-voice__qa">
                    <dl>
                        <dt>どうしてこの専攻に決めましたか？</dt>
                        <dd>エスティシャンになることが夢なので、迷うことなく選びました。授業を受ける度に美を学べて自分自身も綺麗になれるエステティシャン専攻は魅力たっぷりです。</dd>
                    </dl>
                    <dl>
                        <dt>この専攻の好きなところは？</dt>
                        <dd>どの授業も全部楽しいです!実技はもちろん座学授業も普段の生活に取り入れることができる内容ばかりで毎日美意識が高まります♥</dd>
                    </dl>
                </div>
            </div>
            <div class="aie-c-voice__pic">
                <img src="<%- dir %>assets/img/esthe/aie-c-voice@3x.png" alt="インタビューに答える学生">
            </div>
        </section>
        <section class="aie-c-features ">
            <h3 class="aie-c-h3">エステティシャン専攻のここがすごい！
                <span>AMAZING POINT</span>
            </h3>
            <h4>
                <span class="esthe_bg_dd">即戦力になる 技術と知識を学び、</span><br>
                <span class="esthe_bg_dd">上級の資格取得をする</span>
            </h4>
            <div class="aie-c-features__list">
                <div class="esthe_bg">
                    <img src="<%- dir %>assets/img/esthe/aie-c-pic1@3x.jpg" alt="">
                    <dl>
                        <dt>フェイシャルエステ</dt>
                        <dd>皮膚のマッサージや、化粧品・エステ機器によるお手入れを学びます。</dd>
                    </dl>
                </div>
                <div class="esthe_bg aie-c-features-right">
                    <img src="<%- dir %>assets/img/esthe/aie-c-pic2@3x.jpg" alt="">
                    <dl>
                        <dt>ボディエステ</dt>
                        <dd>ウエストや太もも、背中など全身のマッサージテクニックを学びます。</dd>
                    </dl>
                </div>
                <div class="esthe_bg">
                    <img src="<%- dir %>assets/img/esthe/aie-c-pic3@3x.jpg" alt="">
                    <dl>
                        <dt>サロンオペレーション</dt>
                        <dd>受付からお見送りまでのエステサロンでの流れを学び、実践力を身につけます。</dd>
                    </dl>
                </div>
                <div class="esthe_bg aie-c-features-right">
                    <img src="<%- dir %>assets/img/esthe/aie-c-pic4@3x.jpg" alt="">
                    <dl>
                        <dt>エステティック<br>
                            カウンセリング</dt>
                        <dd>お客様の悩みを聞き出し、解決に導くカウンセリングのノウハウを学びます。</dd>
                    </dl>
                </div>
                <div class="esthe_bg">
                    <img src="<%- dir %>assets/img/esthe/aie-c-pic5@3x.jpg" alt="">
                    <dl>
                        <dt>ダイエット検定対策</dt>
                        <dd>エステティシャンとして必要な正しいダイエットの知識を身につけます。</dd>
                    </dl>
                </div>
            </div>
            <!-- <div class="aie-c-features-box">
                <img class="aie-c-features-" src="<%- dir %>assets/img/esthe/aie-c-features@3x.png" alt="">
                <div class="aie-c-features__list">
                    <div class="aie-c-features__list__box">
                        <div class="esthe_bg">
                            <img src="<%- dir %>assets/img/esthe/aie-c-pic1@3x.jpg" alt="">
                            <dl>
                                <dt>フェイシャルエステ</dt>
                                <dd>皮膚のマッサージや、化粧品・エステ機器によるお手入れを学びます。</dd>
                            </dl>
                        </div>
                        <div class="esthe_bg aie-c-features-right">
                            <img src="<%- dir %>assets/img/esthe/aie-c-pic2@3x.jpg" alt="">
                            <dl>
                                <dt>ボディエステ</dt>
                                <dd>ウエストや太もも、背中など全身のマッサージテクニックを学びます。</dd>
                            </dl>
                        </div>
                        <div class="esthe_bg">
                            <img src="<%- dir %>assets/img/esthe/aie-c-pic3@3x.jpg" alt="">
                            <dl>
                                <dt>サロンオペレーション</dt>
                                <dd>受付からお見送りまでのエステサロンでの流れを学び、実践力を身につけます。</dd>
                            </dl>
                        </div>
                        <div class="esthe_bg aie-c-features-right">
                            <img src="<%- dir %>assets/img/esthe/aie-c-pic4@3x.jpg" alt="">
                            <dl>
                                <dt>エステティック<br>
                                    カウンセリング</dt>
                                <dd>お客様の悩みを聞き出し、解決に導くカウンセリングのノウハウを学びます。</dd>
                            </dl>
                        </div>
                        <div class="esthe_bg">
                            <img src="<%- dir %>assets/img/esthe/aie-c-pic5@3x.jpg" alt="">
                            <dl>
                                <dt>ダイエット検定対策</dt>
                                <dd>エステティシャンとして必要な正しいダイエットの知識を身につけます。</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>
        <section class="aie-c-supplement__contents">
                <div class="aie-c-supplement__contents__pic">
                    <img src="<%- dir %>assets/img/esthe/aie-c-supplement1@3x.jpg" alt="学内サロンのメイクアップ台">
                    <img src="<%- dir %>assets/img/esthe/aie-c-supplement2@3x.jpg" alt="学内サロンでお客様に対応する様子">
                </div>
                <div class="aie-c-supplement__contents__txt">
                    <h3>技術を実践的に<br>
                        磨く学内サロン</h3>
                    <p>地域のお客様をお招きして学生が運営する「学内サロン」実際のサロンを想定してお客様に対応するので、自ら考えて動くようになり責任感も身につきます。<br>
                        定期的に行うことにより、カウンセリング力や技術力を身につけ、お客様から感動していただけるエステティシャンを目指します。</p>
                </div>
                <div class="aie-c-supplement__contents__pic">
                    <img src="<%- dir %>assets/img/esthe/aie-c-supplement3@3x.jpg" alt="学内サロンで実践的にエステティシャンを目指す">
                    <img src="<%- dir %>assets/img/esthe/aie-c-supplement4@3x.jpg" alt="学内サロンで技術力を磨いている">
                </div>
        </section>
        <section class="aie-c-message-all">
            <div class="aie-c-message">
                <div class="aie-c-message__upper esthe_bg_b esthe_teacher">
                    <img src="<%- dir %>assets/img/esthe/aie-c-teacher@3x.png" alt="">
                </div>
                <div class="aie-c-message__lower esthe_bg_db">
                    <p class="aie-c-message__lowtitle">
                        おもてなしの心や美しい言葉遣い、所作も学べます
                    </p>
                    <p>
                        現場で通用する技術が学べ、おもてなしの心や所作も学べます。<br>
                        実技ではわからないところを詳しく細かく指導しますので、学生たちも質問もしやすい環境です。
                    </p>
                </div>
            </div>
            <div class="aie-c-message">
                <div class="aie-c-message__upper esthe_bg_b esthe_teacher">
                    <img src="<%- dir %>assets/img/esthe/aie-c-graduate@3x.png" alt="">
                </div>
                <div class="aie-c-message__lower esthe_bg_d">
                    <p class="aie-c-message__lowtitle">
                        実技の授業の多さが、<br>
                        現場で即戦力となりました
                    </p>
                    <p>
                        実践的な実技の授業が多く 、就職してからすぐに役立つ技術力が身につきました。立ち居振る舞いや接客マナーなども学べた ことは、社会人になってとても役立ちました。
                    </p>
                </div>
            </div>
        </section>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>