<%- include('./_config.ejs'); %>

<% title = "ブライダルビューティ専攻"; %>
<% body_class = "course_aie-course_bridal"; %>

<%- include('./header.ejs'); %>


<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title title-left"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><a href="">アイエステ専攻一覧</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -i">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_i_sp.png">
                    <img src="./assets/img/name_i.png" alt="アイエステ">
                </picture>
            </div>
        </div>
        <section>
            <div class="aie-c-fv">
                <img class="aie-c-fv__mainPic tab_none" src="<%- dir %>assets/img/course_aie-course_bridal/fv@3x.png" alt="ブライダルビューティ専攻">
                <img class="aie-c-fv__mainPic tab_block" src="<%- dir %>assets/img/course_aie-course_bridal/fv-sp@3x.png" alt="ブライダルビューティ専攻">
                <div class="aie-c-title esthe_bg">
                    <div>
                        <h2>ブライダル<br>
                            ビューティ専攻</h2>
                        <div class="aie-c-course">
                            インナービューティ科<br>
                            2年&nbsp;&nbsp;&nbsp;昼間部
                        </div>
                    </div>
                    <img src="<%- dir %>assets/img/course_aie-course_bridal/bridalbeauty@3x.png" alt="ブライダルビューティ">
                </div>
            </div>
            <div class="aie-c-info">
                <div class="aie-c-info__pic">
                    <img src="<%- dir %>assets/img/course_aie-course_bridal/bridal-info@3x.png" alt="ブライダルビューティ専攻の人物画像">
                </div>
                <div class="aie-c-info__txt">
                    <div class="aie-c-info__wp">
                        <h3 class="aie-c-h3">働くところ
                            <span>WORKPLACE</span>
                        </h3>
                        <ul class="aie-c-wp-list">
                            <li>・ドレスショップ</li>
                            <li>・ 呉服屋</li>
                            <li>・ フォトスタジオ</li>
                            <li>・ ジュエリーショップ</li>
                            <li>・ ホテル</li>
                            <li>・ ゲストハウス</li>
                            <li>・ 専門式場</li>
                            <li>・ フラワーショップ</li>
                            <li>・ ブライダルエステサロン</li>
                            <li>・ ブライダルヘアメイク事務所  etc…</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="aie-c-h3">めざす資格
                            <span>QUALIFICATION</span>
                        </h3>
                        <dl>
                            <dt>《必須取得資格》・・・・ </dt>
                            <dd>ブライダルコーディネート技能検定3級</dd>
                        </dl>
                        <dl>
                            <dt>《専攻任意取得資格》・・    </dt>
                            <dd>
                                <ul>
                                    <li>日本メイクアップ技術検定3級</li>
                                    <li>JNECネイリスト技能検定3級</li>
                                    <li>JNAジェルネイル技能検定初級</li>
                                    <li>AEA認定エステティシャン</li>
                                    <li>色彩活用パーソナルカラー検定</li>
                                    <li>色彩活用ライフケアカラー検定</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>《選択取得資格》・・・・ </dt>
                            <dd>
                                <ul>
                                    <li>アロマコーディネーターライセンス</li>
                                    <li>日本メイクアップ技術検定2級</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="aie-c-qualified esthe_bg_d">
                <div class="aie-c-qualified__txt">
                    <h4>ブライダル・コーディネーター技能検定3級</h4>
                    <p>ブライダル全体の実務を網羅する全国唯一の認定資格。プロとしてブライダル業界で活躍するための知識やスキルが身についた証である検定に合格することを目指します。</p>
                </div>
                <div class="aie-c-qualified__pic">
                    <img src="<%- dir %>assets/img/course_aie-course_bridal/aie_pass_rate@3x.png" alt="合格率">
                </div>
            </div>
        </section>
        <section class="aie-c-schedule site-width">
            <div class="aie-c-section">
                <h3 class="aie-c-h3 esthe-schedule">時間割
                    <span>SCHEDULE</span>
                </h3>
                <div class="aie-c-schedule__table">
                    <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-schedule.png" alt="ブライダルビューティ専攻の時間割">
                </div>
                <div class="aie-c-schedule__curriculum">
                    <span class="esthe_bg_d">カリキュラム</span>
                    <ul>
                        <li>・ ホスピタリティ</li>
                        <li>・ ブライダル概論</li>
                        <li>・ 衛生・消毒・救急法</li>
                        <li>・ Tコミュニケーション</li>
                        <li>・ ドレススタイリング</li>
                        <li>・ ブライダルセールス</li>
                        <li>・ 生理学</li>
                        <li>・ 業界ガイド</li>
                        <li>・ メイク＆ヘアアレンジメント</li>
                        <li>・ ウエディングプロジェクト</li>
                        <li>・ 皮膚科学</li>
                        <li>・ アロマベーシック</li>
                        <li>・ ブライダルエステ</li>
                        <li>・ カラーデコレート</li>
                        <li>・ 電気・機器学・美容脱毛学</li>
                        <li>・ ヨガベーシック</li>
                        <li>・ ブライダルネイル</li>
                        <li>・ ビジネスマナー</li>
                        <li>・ リフレクソロジー　etc…</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="aie-c-voice aie-c-section">
            <div class="aie-c-voice__info">
                <h3 class="aie-c-h3">学生の声
                    <span>VOICE</span>
                </h3>
                <div class="aie-c-voice__name">
                    <p><span>角屋 明季</span>さん</p>
                    <p>千葉県立船橋二和高等学校出身</p>
                </div>
                <div class="aie-c-voice__qa">
                    <dl>
                        <dt>どうしてこの専攻に決めましたか？</dt>
                        <dd>得ができるブライダルビューティ専攻を選びました！</dd>
                    </dl>
                    <dl>
                        <dt>この専攻の好きなところは？</dt>
                        <dd>ドレスフィッティングやドレスの提案などブライダル業界の職種を意識した授業内容が楽しくて好きです！クラス全員の仲がいいことも自慢♥</dd>
                    </dl>
                </div>
            </div>
            <div class="aie-c-voice__pic">
                <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-voice@3x.png" alt="インタビューに答える学生">
            </div>
        </section>
        <section class="aie-c-features">
            <div class="aie-c-section">
                <h3 class="aie-c-h3">ブライダルビューティ専攻の<br class="spbr">ここがすごい！
                    <span>AMAZING POINT</span>
                </h3>
                <h4>
                    <span class="esthe_bg_d">業界で活躍できる技術を習得し</span><br>
                    <span class="esthe_bg_d">花嫁のキレイをトータルプロデュース</span>  
                </h4>
                <div class="aie-c-features__list">
                    <div class="esthe_bg">
                        <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-pic1@3x.jpg" alt="ドレスフィッティング＆和装着付け">
                        <dl>
                            <dt>ドレスフィッティング＆和装着付け</dt>
                            <dd>通常のウエディングドレスの他に、和装の着付けについても学びます。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg aie-c-features-right">
                        <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-pic2@3x.jpg" alt="ブライダルヘアアレンジ＆メイク">
                        <dl>
                            <dt>ブライダルヘアアレンジ＆メイク</dt>
                            <dd>花嫁の個性やドレスのデザイン、ブーケやティアラなどに合わせたテクニックを習得します。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg">
                        <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-pic3@3x.jpg" alt="ブライダルエステ">
                        <dl>
                            <dt>ブライダルエステ</dt>
                            <dd>ウエディングドレスがはえるボディラインやデコルテの美しさが際立つお手入れを身につけます。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg aie-c-features-right">
                        <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-pic4@3x.jpg" alt="ブライダルネイル">
                        <dl>
                            <zdt>ブライダルネイル</zdt>
                            <dd>花嫁の要望に沿った、純白のウエディングドレスに似合うネイル技術をマスターします。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg">
                        <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-pic5@3x.jpg" alt="カラーコーディネート">
                        <dl>
                            <dt>カラーコーディネート</dt>
                            <dd>業界で必要とされるカラーの知識をブーケや和装で使われる小物制作を通して実践的な知識を身につけます。</dd>
                        </dl>
                    </div>
                </div>
        </section>
        <section class="aie-c-supplement__contents">
                <div class="aie-c-supplement__contents__wrapper">
                    <div class="aie-c-supplement__contents__pic">
                        <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-supplement1@3x.jpg" alt="リアルウェディング">
                    </div>
                    <div class="aie-c-supplement__contents__txt">
                        <h3>技術を実践的に<br>
                            磨くリアルウェディング</h3>
                            <span>結婚式を学生がプロデュース</span>
                        <p>2年間の学びの集大成として行われる「リアルウエディング=本物の結婚式」は新郎新婦をお迎えし、事前のエステやネイル、当日のヘアメイクや衣装のフィッティングに会場装飾や式の司会進行まで、全てを学生主体でプロデュースします。大切な結婚式に向けてインナービューティからつくる、AIEにしかできないブライダルビューティです。</p>
                    </div>
                    <div class="aie-c-supplement__contents__pic">
                        <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-supplement3@3x.jpg" alt="リアルウェディングの写真">
                        <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-supplement4@3x.jpg" alt="リアルウェディングでの集合写真">
                    </div>
                </div>
                <div class="aie-c-supplement__contents__info">
                    <h4>ご興味をお持ちの方へ</h4>
                    <p>この挙式はブライダルビューティコースの学生が主体となって創り上げていくものです。
                        料金は頂いておりません。以下の内容に興味をお持ちの方は、お気軽にお申し込みください。</p>
                        <div>
                            <dl>
                                <dt>挙式予定日</dt>
                                <dd>2019年1月予定</dd>
                            </dl>
                            <dl>
                                <dt>フォト婚 内容</dt>
                                <dd>
                                    <ul>
                                        <li>・ 花嫁のためのインナービューティプログラム</li>
                                        <li>・ トータルウエディングプロデュース</li>
                                        <li>・ オリジナル人前式</li>
                                        <li>・ お写真撮影（後日お写真をプレゼント致します）</li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>応募条件</dt>
                                <dd>AIEの花嫁のためのビューティプログラムに参加可能な方<br>
                                    ※ビューティプログラム：3～5ヶ月にわたって月1回程度<br>
                                    （平日）学校にて実施いたします。<br>
                                    ※写真データ等はHP等に掲載させていただく場合がございます。<br>
                                    エントリーシートにご記入の上、ご応募ください。</dd>
                            </dl>
                            <dl>
                                <dt>エントリーシート<br>
                                    締め切り</dt>
                                <dd>お問い合わせ下さい。</dd>
                            </dl>
                            <dl>
                                <dt>連絡先</dt>
                                <dd>アイエステティック専門学校<br>
                                    TEL：043-242-0073<br>
                                    MAIL： aie@nakamura.ac.jp</dd>
                            </dl>
                        </div>
                        <img class="tab_none" src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-supplement__info@3x.jpg" alt="リアルウェディングの様子">
                </div>
        </section>
        <section class="aie-c-message-all">
            <div class="aie-c-message">
                <div class="aie-c-message__upper esthe_bg_b esthe_teacher">
                    <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-teacher@3x.png" alt="先生からのメッセージ">
                </div>
                <div class="aie-c-message__lower esthe_bg_dd">
                    <p class="aie-c-message__lowtitle">
                        ブライダル業界の仕事に<br class="spbr_tabnone">
                        必要なスキルが学べます
                    </p>
                    <p>ウェディングドレスの専門的な知識や、トレンドはもちろん、ドレススタイリストに必要なスキルを学べます。</p>
                </div>
            </div>
            <div class="aie-c-message">
                <div class="aie-c-message__upper esthe_bg_b esthe_teacher">
                    <img src="<%- dir %>assets/img/course_aie-course_bridal/aie-c-graduate@3x.png" alt="卒業生からのメッセージ">
                </div>
                <div class="aie-c-message__lower esthe_bg_d">
                    <p class="aie-c-message__lowtitle">
                        現場を意識した授業が、<br>
                        即戦力となりました
                    </p>
                    <p>ロープレの授業が多く、カウンセリングからお見送りまで現場を意識し行っていました。そのため、就職後は緊張することなく堂々と接客に入ることができました。</p>
                </div>
            </div>
        </section>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>