<%- include('./_config.ejs'); %>

<% title = "エステティシャン専攻"; %>
<% body_class = "course_aie-course_esthe"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
    <div class="p-title">
        <div class="c-inner">
            <div class="title"><%- title; %></div>
        </div>
    </div>
    <div class="p-breadcrumb">
        <div class="c-inner -w1084">
            <div class="breadcrumb">
                <a href="">トップ</a><span>&gt;</span><a href="">アイエステ専攻一覧</a><span>&gt;</span><span><%- title; %></span>
            </div>
        </div>
    </div>
</header>

<div class="l-contents">
    <main class="l-main">
        <section>
            <div class="aie-c-fv">
                <img src="<%- dir %>assets/img/esthe/esthe_fv@3x.png" alt="エステティシャン専攻">
                <div class="aie-c-title esthe_bg">
                    <div>
                        <h2>エステティシャン専攻</h2>
                        <div class="aie-c-course">
                            インナービューティ科<br>
                            2年&nbsp;&nbsp;&nbsp;昼間部
                        </div>
                    </div>
                    <img src="<%- dir %>assets/img/esthe/aie-c-title@3x.png" alt="estheticien">
                </div>
            </div>
            <div class="aie-c-info">
                <div class="aie-c-info__pic">
                    <img src="<%- dir %>assets/img/esthe/fv_23x.png" alt="エステティシャンの人物画像">
                </div>
                <div class="aie-c-info__txt">
                    <div class="aie-c-info__wp">
                        <h3 class="aie-c-h3">働くところ
                            <span>WORKPLACE</span>
                        </h3>
                        <ul class="aie-c-wp-list">
                            <li>・ エステティックサロン</li>
                            <li>・ スパリゾートホテル</li>
                            <li>・リラクゼーションサロン  etc</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="aie-c-h3">めざす資格
                            <span>QUALIFICATION</span>
                        </h3>
                        <dl>
                            <dt>《必須取得資格》・・・・ </dt>
                            <dd>AEA認定エステティシャン</dd>
                        </dl>
                        <dl>
                            <dt>《専攻任意取得資格》・・    </dt>
                            <dd>
                                <ul>
                                    <li>AEA上級認定エステティシャン</li>
                                    <li>アロマコーディネーターライセンス</li>
                                    <li>ダイエット検定2級</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>《選択取得資格》・・・・ </dt>
                            <dd>
                                <ul>
                                    <li>日本メイクアップ技術検定3級</li>
                                    <li>JNECネイリスト技能検定3級</li>
                                    <li>色彩活用パーソナルカラー検定</li>
                                    <li>色彩活用ライフケアカラー検定</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="aie-c-qualified esthe_bg_d">
                <div class="aie-c-qualified__txt">
                    <h4>AEA上級認定エステティシャン資格</h4>
                    <p>AEA（日本エステティック業協会）は国内トップレベルの知識や技術・マナーを持つエステティックサロンが多数加盟している協会です。アイは協会認定校。AEAの資格を取得することで、高い評価・信頼を受けることができます。</p>
                    <img src="<%- dir %>assets/img/esthe/aie-accredited-school@3x.png" alt="一般社団法人日本エステティック業協会認定校">
                </div>
                <div class="aie-c-qualified__pic">
                    <img src="<%- dir %>assets/img/esthe/aie_pass_rate@3x.png" alt="合格率100%">
                </div>
            </div>
        </section>
        <section class="aie-c-schedule aie-c-section">
            <h3 class="aie-c-h3 esthe-schedule">時間割
                <span>SCHEDULE</span>
            </h3>
            <img src="<%- dir %>assets/img/esthe/aie-c-schedule.png" alt="エステティシャン専攻の時間割">
            <div>
                <span>カリキュラム</span>
                <ul>
                    <li>・ ホスピタリティ</li>
                    <li>・ ダイエット実習</li>
                    <li>・ 衛生・消毒・救急法</li>
                    <li>・ アロマベーシック</li>
                    <li>・ 東洋・西洋セラピー</li>
                    <li>・ サロンマネジメント＆法規</li>
                    <li>・ 生理学</li>
                    <li>・ ヨガベーシック</li>
                    <li>・ フェイシャル実技</li>
                    <li>・ メイク＆ヘアアレンジメント</li>
                    <li>・ 皮膚科学</li>
                    <li>・ リフレクソロジー</li>
                    <li>・ カウンセリング</li>
                    <li>・ 販売心理学</li>
                    <li>・ ブライダルビューティ</li>
                    <li>・ ビジネスマナー</li>
                    <li>・ 美容脱毛学</li>
                    <li>・ 化粧品学</li>
                    <li>・ 栄養学</li>
                    <li>・ ネイルケア  etc…</li>
                </ul>
            </div>
        </section>
        <section class="aie-c-voice aie-c-section">
            <div class="aie-c-voice__info">
                <h3 class="aie-c-h3">学生の声
                    <span>VOICE</span>
                </h3>
                <div class="aie-c-voice__name">
                    <p><span>星野  七愛美</span>さん</p>
                    <p>拓殖大学紅陵高等学校出身</p>
                </div>
                <div class="aie-c-voice__qa">
                    <dl>
                        <dt>どうしてこの専攻に決めましたか？</dt>
                        <dd>エスティシャンになることが夢なので、迷うことなく選びました。授業を受ける度に美を学べて自分自身も綺麗になれるエステティシャン専攻は魅力たっぷりです。</dd>
                    </dl>
                    <dl>
                        <dt>この専攻の好きなところは？</dt>
                        <dd>どの授業も全部楽しいです!実技はもちろん座学授業も普段の生活に取り入れることができる内容ばかりで毎日美意識が高まります♥</dd>
                    </dl>
                </div>
            </div>
            <div class="aie-c-voice__pic">
                <img src="<%- dir %>assets/img/esthe/aie-c-voice@3x.png" alt="インタビューに答える学生">
            </div>
        </section>
        <section>
            <img src="<%- dir %>assets/img/esthe/aie-c-features@3x.png" alt="">
        </section>
        <section class="aie-c-supplement">
            <div class="aie-c-supplement__contents aie-c-section2">
                <div>
                    <img src="<%- dir %>assets/img/esthe/aie-c-supplement1@3x.jpg" alt="学内サロンのメイクアップ台">
                    <img src="<%- dir %>assets/img/esthe/aie-c-supplement2@3x.jpg" alt="学内サロンでお客様に対応する様子">
                </div>
                <div class="aie-c-supplement__contents__txt">
                    <h3>技術を実践的に<br>
                        磨く学内サロン</h3>
                    <p> 地域のお客様をお招きして学生が運営す る「 学 内 サ ロ ン 」実 際 の サ ロ ン を 想 定 し て お 客 様 に 対 応 す る の で 、自 ら 考 え て 動 く よ うになり責任感も身につきます。<br>
                        定 期 的 に 行 う こ と に よ り 、カ ウ ン セ リ ン グ 力や技術力を身につけ、お客様から感動 していただけるエステティシャンを目指し ます。</p>
                </div>
                <div>
                    <img src="<%- dir %>assets/img/esthe/aie-c-supplement3@3x.jpg" alt="学内サロンで実践的にエステティシャンを目指す">
                    <img src="<%- dir %>assets/img/esthe/aie-c-supplement4@3x.jpg" alt="学内サロンで技術力を磨いている">
                </div>
            </div>
        </section>
        <section class="aie-c-message">
            <div class="aie-c-message1">
                <div class="aie-c-message1__pic">
                    <p>先生からのメッセージ</p>
                    <div>
                        <p><span>平手 奈々</span>先生</p>
                        <p>
                            大手エステサロンに主任エステティシャンとして勤務。<br>
                            数多くのお客様に寄り添い、様々なお悩み
                            を解決してきました。
                        </p>
                    </div>
                </div>
                <div>
                    <p>おもてなしの心や美しい言葉遣い、<br>
                        所作も学べます</p>
                        <p>現場で通用する技術が学べ、おもてなしの心や所作も学べます。<br>
                            実技ではわからないところを詳しく細かく指導しますので、学生たちも質問もしやすい環境です。</p>
                </div>
            </div>
            <div class="aie-c-message2"></div>
        </section>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>