<%- include('./_config.ejs'); %>

<% title = "最短スタイリストデビュー"; %>
<% body_class = "feature_j-hm-about_stylistdebut"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>
        <div class="st-mv">
            <img class="st-mv__pic" src="<%- dir %>assets/img/stylistdebut/sd_mv@3x.png" alt="ジェイはデビューに一直線、最短でスタイリストへ">
            <img class="st-mv__pic__sp" src="<%- dir %>assets/img/stylistdebut/sd_mv_sp@3x.png" alt="ジェイはデビューに一直線、最短でスタイリストへ">    
            <div class="contents-width st-mv__flow__figure">
                <img src="<%- dir %>assets/img/stylistdebut/sd_flow_contents@3x.png" alt="スタイリストデビューまでの流れ">
            </div> 
        </div>
        <div class="st-point site-width">
            <div class="contents-width">
                <div class="st-point__titile">
                    <img class="pcimg" src="<%- dir %>assets/img/stylistdebut/sd_point_title.svg" alt="最短でスタイリストデビューを叶える３つのポイント">
                    <img class="spimg" src="<%- dir %>assets/img/stylistdebut/sd_point_title_sp.svg" alt="最短でスタイリストデビューを叶える３つのポイント">
                </div>
                <div class="st-point__item flex-between-start">
                    <div class="st-point__item__info">
                        <div class="st-point__item__info__title flex-start-center">
                        <img class="st-point__icon" src="<%- dir %>assets/img/stylistdebut/sd_point1@3x.png" alt="point1">
                        <h3>美容室の「新人教育」を<br class="pcbr">
                            現役美容師から学べる。</h3>
                        </div>
                        <p>現場で即戦力となって働くため、美容室で行っている新人教育をJBA(日本美容師連盟) との連携授業の中で学びます。現役美容師から、最新の流行や技術、心構えなどのアドバイスを直接もらえます。就職後すぐに役立つ実践的な内容は卒業生や就職先からも高く評価されています。</p>
                        <div class="st-point__item__salon">
                            <h4 class="bold txt16 white">企業連携協力サロン</h4>
                            <div class="st-point__item__salon__list">
                                <ul class="flex-start-center"> 
                                    <li>・aL-ter</li>
                                    <li>・fleur</li>
                                    <li>・GOALD</li>
                                    <li>・hair brace</li>
                                    <li>・JAGARA</li>
                                    <li>・Nordlys House</li>
                                    <li>・PRIMAL</li>
                                    <li>・TONI&GUY</li>
                                    <li>・Wiz</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <img class="st-point__item__pic" src="<%- dir %>assets/img/stylistdebut/sd_point1_pic@3x.jpg" alt="美容室の「新人教育」を現役美容師から学べる。">
            </div>
                <div class="st-point__item flex-between-start">
                    <div class="st-point__item__info">
                        <div class="st-point__item__info__title flex-start-center">
                            <img class="st-point__icon" src="<%- dir %>assets/img/stylistdebut/sd_point2@3x.png" alt="point2">
                            <h3>学内サロンで実践的な<br class="pcbr"> 
                                「接客力」を身につける。</h3>
                        </div>
                        <p>サロンワークという授業の中で実際のサロン勤務同様の動きを学んでいきます。施術だけではなく、会話やサービスについても身につけ、毎年行われる中村学園祭では一般の方に
                            もお越しいただける学内サロンを運営します。多くのお客様と関わり接客スキルを向上させていきます。</p>
                    </div>
                    <img class="st-point__item__pic" src="<%- dir %>assets/img/stylistdebut/sd_point2_pic@3x.jpg" alt="学内サロンで実践的な「接客力」を身につける。">
                </div>
                <div class="st-point__item flex-between-start">
                    <div class="st-point__item__info">
                        <div class="st-point__item__info__title flex-start-center">
                            <img class="st-point__icon" src="<%- dir %>assets/img/stylistdebut/sd_point3@3x.png" alt="point3">
                            <h3>アシスタント業務の基本である<br class="pcbr"> 
                                シャンプーをマスター。</h3>
                        </div>
                        <p>ジェイでは、全国屈指の施設を使用してのシャンプーの授業数を多く編成しています。アシスタント業務のスタートともいえるシャンプーやヘッドスパの技術をしっかりと身につけておくことで、就職後は誰よりも早くその先のステップへと進むことができます。</p>
                    </div>
                    <img class="st-point__item__pic" src="<%- dir %>assets/img/stylistdebut/sd_point3_pic@3x.jpg" alt="アシスタント業務の基本であるシャンプーをマスター。">
                </div>
            </div>
        </div>

        <div class="st-interview site-width">
            <img class="st-interview__title" src="<%- dir %>assets/img/stylistdebut/sd_5month.svg" alt="入社5ヶ月でスタイリストデビュー！">
            <div class="contents-width flex-between-start st-interview__contents">
                <div class="st-interview__pic">
                    <img src="<%- dir %>assets/img/stylistdebut/sd_breen@3x.png" alt="Hairsalon BREEN Tokyo勤務 菅生 波音さん">
                </div>
                <div class="st-interview__info">
                    <h3 class="txt28 bold">目の前のお客様に全力で向き合い、<br class="pcbr"> 
                        初心を忘れずにいたい。</h3>
                    <p>職場では、自分の得意なウルフカットやマッシュにして欲しい！という10代から20代のお客様が多いです。とても嬉しいですし、実際にお客様に触れ、自分の技術で笑顔にできる仕事を素晴らしいと毎日感じています。</p>
                    <div class="st-interview__info__qa">
                        <dl>
                            <dt><span>Q.</span>現場に出てみてどうでしたか？</dt>
                            <dd>最初はものすごく緊張しましたが、お客様の前に立ったら「楽しい」が勝ちます！</dd>
                        </dl>
                        <dl>
                            <dt><span>Q.</span>デビューしてこれからの目標は？</dt>
                            <dd>デビューしたからには具体的な売上目標もありますが、慢心せず、一人ひとりのお客様に精一杯向き合ってゆく事が目標です。</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="st-correction site-width white">
            <div class="contents-width ">
                <div class="st-correction__info">
                    <h2 class="txt72 bold">J HAIRMAKE COLLECTION</h2>
                    <div class="st-correction__sptitle">
                        <img src="<%- dir %>assets/img/stylistdebut/sd_make_correction_title@3x.png" alt="2年間の集大成">
                    </div>
                    <p class="st-correction__info__title txt28 bold">ジェイヘアメイクコレクション</p>
                    <p class="st-correction__info__txt bold">ヘア・メイク・ファッションスタイリングから演出まで、<br class="spbr_tabnone">
                        これまで培ってきた基礎技術、現場レベルの応用技術、そして感性のすべてを集結し<br class="spbr_tabnone">
                        コレクションとしてチーム毎に最高のステージを創り上げます。<br>
                        このコレクションを経て、独創性や技術レベルがまた一つレベルアップ。<br class="spbr_tabnone">
                        コンテスト形式でより高みを目指します。</p>
                </div>
            </div>
        </div>
    </main>
    <div class="st-mv">
        <div class="contents-width st-mv__flow__figure">
            <img src="<%- dir %>assets/img/stylistdebut/sd_flow_contents@3x.png" alt="スタイリストデビューまでの流れ">
        </div> 
    </div>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>