<%- include('./_config.ejs'); %>

<% title = "交通アクセス"; %>
<% body_class = "access"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
	<main class="l-main">
		<div class="p-title">
			<div class="c-inner -w1084">
				<div class="title"><%- title; %></div>
			</div>
		</div>
		<div class="p-breadcrumb">
			<div class="c-inner -w1084">
				<div class="breadcrumb">
					<a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
				</div>
			</div>
		</div>

		<div class="content_wrap">
			<div class="building">
				<dl>
					<dt>本校舎</dt>
					<dd>
						<ul>
							<li>
								<div><img src="./assets/img/access/access_img01.png" alt=""></div>
								<p>
									<span>アイ エステティック専門学校<br>TEL 0120-461-901</span>
									〒260-0021<br>
									千葉県千葉市中央区新宿2-14-3<br>
									■JR千葉駅南口より徒歩10分<br>
									■京成千葉中央駅より徒歩2分
								</p>
							</li>
							<li>
								<div><img src="./assets/img/access/access_img02.png" alt=""></div>
								<p>
									<span>ジェイヘアメイク美容専門学校<br>TEL 0800-800-1434</span>
									〒260-0021<br>
									千葉県千葉市中央区新宿2-14-3<br>
									■JR千葉駅南口より徒歩10分<br>
									■京成千葉中央駅より徒歩2分
								</p>
							</li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="access_img03">
				<img src="./assets/img/access/access_img03.png" alt="">
			</div>
			<div class="access_img04">
				<img src="./assets/img/access/access_img04.png" alt="">
			</div>
			<div class="gmap_area">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.853779921429!2d140.1135014152568!3d35.60667328021182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x602284b39d5807f5%3A0x971c87674ffaba25!2z44K444Kn44Kk44OY44Ki44Oh44Kk44Kv5bCC6ZaA5a2m5qCh!5e0!3m2!1sja!2sjp!4v1616101807653!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
			<div class="movie_area">
				<dl>
					<dt>駅からのルートを動画で確認する</dt>
					<dd><iframe width="560" height="315" src="https://www.youtube.com/embed/UJKU9pNqXgc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></dd>
				</dl>
			</div>
			<div class="way_to_school">
				<dl>
					<dt>学校までの道のり</dt>
					<dd>
						<p>JR・京成千葉駅から</p>
						<ul>
							<li><img src="./assets/img/access/access_img05.png" alt="1"><br>JR千葉駅「東口」の改札を出る。<br>出たら「右ななめ」方向へ。</li>
							<li><img src="./assets/img/access/access_img06.png" alt="2"><br>みどりの窓口を右手に見ながら約30m直進すると横断歩道があります。</li>
							<li><img src="./assets/img/access/access_img07.png" alt="3"><br>横断歩道を渡り、「京成千葉駅」を左手に見ながら直進。</li>
							<li><img src="./assets/img/access/access_img08.png" alt="4"><br>「千葉そごう」の入り口が見えたら左折する。</li>
							<li><img src="./assets/img/access/access_img09.png" alt="5"><br>そのまま「千葉そごう」に沿って約30ｍ直進。</li>
							<li><img src="./assets/img/access/access_img10.png" alt="6"><br>道路に突き当たり、道路反対側にスターバックスが見えたら「右折」する。</li>
							<li><img src="./assets/img/access/access_img11.png" alt="7"><br>右折後､約70m直進すると「新町交差点」が見えてきます。</li>
							<li><img src="./assets/img/access/access_img12.png" alt="8"><br>そのまま横断歩道を渡り、「デイリーヤマザキ」を右手に見ながら直進。 道路反対側に「レクサス」。右手に郵便局を見ながら更に直進。</li>
							<li><img src="./assets/img/access/access_img13.png" alt="9"><br>右手に「新宿小学校」を見ながらあと100m直進。校舎が右手に見えてきます。</li>
							<li><img src="./assets/img/access/access_img14.png" alt="10"><br>「サンクス」前の交差点先、ガラス張りの建物が校舎です。</li>
						</ul>
					</dd>
					<dd>
						<p>京成千葉中央駅から</p>
						<ul>
							<li><img src="./assets/img/access/access_img15.png" alt="1"><br>改札を出たら「左折」する。<br>※改札は１ヶ所だけです。</li>
							<li><img src="./assets/img/access/access_img16.png" alt="2"><br>左手に「ファミリーマート」を見ながら直進する。</li>
							<li><img src="./assets/img/access/access_img17.png" alt="3"><br>駅前ロータリーもそのまま直進し、ホテルモンセラトンの「右側」を直進します。</li>
							<li><img src="./assets/img/access/access_img18.png" alt="4"><br>ガラス張りの建物が校舎です。</li>
						</ul>
					</dd>
				</dl>
				
			</div>

		</div>

    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>