<%- include('./_config.ejs'); %>

<% title = "情報公開"; %>
<% body_class = "aieinformation"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner -w1084">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -i">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_i_sp.png">
                    <img src="./assets/img/name_i.png" alt="アイエステ">
                </picture>
            </div>
        </div>
        <section class="p-information" style="background-color: #d8f2f5;">
            <div class="c-wrapper">
                <div class="c-inner">
                    <div class="p-information__box">
                        <section>
                            <h2>理事長挨拶</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">理事長挨拶</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>中村学園について</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">中村学園について</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>学園の財務状況</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">学園の財務状況</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>学校長挨拶</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">学校長挨拶</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>学校について</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">学校について</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>教育</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">教育</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                    <li><a href="">教育課程表</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                    <li><a href="">実務経験のある教員等による授業科目一覧</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                    <li><a href="">実務経験のある教員等による授業科目一覧《省令で定める単位数等の基準相当分》</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                    <li><a href="">シラバス（エステティシャンコース）</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                    <li><a href="">シラバス（アロマ＆セラピストコース）</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                    <li><a href="">シラバス（メイクアップアーティストコース）</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                    <li><a href="">シラバス（ブライダルビューティコース）</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                    <li><a href="">シラバス（ネイリストコース）</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>学生支援</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">学生支援</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>高等教育の修学支援新制度の機関要件</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">様式第2号</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>危機管理</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">危機管理</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>国際連携・地域貢献等</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">国際連携・地域貢献等</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>自己評価</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">自己点検・評価表</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>学校関係者評価</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">学校関係者評価報告書</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h2>学則</h2>
                            <div class="p-information__doclist">
                                <ul>
                                    <li><a href="">学則</a><span><img src="./assets/img/icon_pdf.png" alt=""></span></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>