<%- include('./_config.ejs'); %>

<% title = "WEB OPEN CAMPUS"; %>
<% body_class = "aieopnecampus"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner -w1084">
                <div class="title align-l"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>

        <div class="salon-name">
            <picture>
                <source media="(max-width: 768px)" srcset="<%- dir %>assets/img/name_j_sp.png">
                <img src="<%- dir %>assets/img/name_j.png" alt="ジェイヘアメイク">
            </picture>
        </div>

        <div class="bg">
            <div class="c-wrapper">
                <div class="mainvisual">
                    <div class="mainvisual__inner">
                        <h2><img src="<%- dir %>assets/img/aieopnecampus/mainvisual_01.png" alt="WEB OPEN CAMPUS 2021"></h2>
                        <div class="c-wrapper -w1200">
                            <p class="mainvisual__lead">高校1・2年生の今から動画を視聴してAO入試エントリー資格を得ましょう！</p>
                        </div>
                    </div>
                </div>
                <div class="c-wrapper -w1200">
                    <section id="merit" class="merit">
                        <h3 class="merit__title"><span>高校1・2年生の今からAOエントリーを考える3つのメリット</span></h3>
                        <ul class="merit__list">
                            <li class="merit__item">
                                <figure>
                                    <img src="<%- dir %>assets/img/aieopnecampus/image_merit_01.jpg" alt="">
                                    <figcaption>進路が早く決まる！</figcaption>
                                </figure>
                            </li>
                            <li class="merit__item">
                                <figure>
                                    <img src="<%- dir %>assets/img/aieopnecampus/image_merit_02.jpg" alt="">
                                    <figcaption>プレスクールに参加できる！</figcaption>
                                </figure>
                            </li>
                            <li class="merit__item">
                                <figure>
                                    <img src="<%- dir %>assets/img/aieopnecampus/image_merit_03.jpg" alt="">
                                    <figcaption>選考料(20,000円)が免除！</figcaption>
                                </figure>
                            </li>
                        </ul>
                    </section>
                    <!-- //merit -->
                </div>
            </div>
        </div>

        <div class="belt">
            <h3 class="belt__title">WEBオープンキャンパス動画を見て<br>AOエントリーを考えよう！</h3>
        </div>

        <div class="c-wrapper">
            <div class="c-wrapper -w1200">

                <section id="videos" class="videos">
                    <h3 class="videos__title title">WEB上でオープンキャンパスに参加しよう！</h3>
                    <p>実際に来校していただかなくても、スマホ、PCがあれば、自宅にいてもWEBでオープンキャンパスに参加できます。<br>
                    「WEBオープンキャンパス動画」のメインコンテンツです。<br>
                    学校紹介・希望する専攻・施設紹介・キャンパスライフの動画コンテンツを視聴していただくことで、当校のオープンキャンパスに参加したと認定し、オープンキャンパス参加証明書が発行できます。<br>
                    発行を希望される方は、以下の<a href="#">《AO入試エントリー資格を得るためのOC参加証明書》</a>をクリックしてください。​</p>

                    <ul class="videos__list">
                        <li class="videos__item">
                            <dl>
                                <dt>ジェイヘアメイク美容専門学校学校紹介</dt>
                                <dd><iframe width="560" height="315" src="https://www.youtube.com/embed/B2xsZpiO9BY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></dd>
                            </dl>
                        </li>
                        <li class="videos__item">
                            <dl>
                                <dt>ヘアスタイリスト専攻</dt>
                                <dd><iframe width="560" height="315" src="https://www.youtube.com/embed/ADutNxTEZ4k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></dd>
                            </dl>
                        </li>
                        <li class="videos__item">
                            <dl>
                                <dt>ヘアメイク専攻</dt>
                                <dd><iframe width="560" height="315" src="https://www.youtube.com/embed/8LDFx3yo5GE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></dd>
                            </dl>
                        </li>
                        <li class="videos__item">
                            <dl>
                                <dt>施設紹介</dt>
                                <dd><iframe width="560" height="315" src="https://www.youtube.com/embed/3tC8bwRo6Po" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></dd>
                            </dl>
                        </li>
                        <li class="videos__item">
                            <dl>
                                <dt>キャンパスライフ</dt>
                                <dd><iframe width="560" height="315" src="https://www.youtube.com/embed/EaYrXBd_yz0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></dd>
                            </dl>
                        </li>
                    </ul>
                </section>

            </div>
        </div>

        <div class="cta belt">
            <p>AO入試エントリー資格を得るための<br>
            OC参加証明書発行はこちら！</p>
            <div class="btn c-btn -red">
                <a href="#" class="btn__inner c-btn__inner"><span class="btn__txt">OC参加証明書発行はこちら</span><span class="btn__arrow"></span>
                </a>
            </div>
        </div>

        <div class="c-wrapper">
            <div class="c-wrapper -w1200">
                <section id="features" class="features">
                    <h3 class="features__title title">ジェイヘアメイクの3つの特長</h3>
                    <div class="features__list">
                        <div class="features__item">
                            <figure><img src="<%- dir %>assets/img/aieopnecampus/image_feature_01.jpg" alt=""></figure>
                            <dl>
                                <dt><span>最短でスタイリスト<br>
                                    デビューが目指せる!</span></dt>
                                <dd>現場に基づいた実践的な学びで<br>
                                    早期デビューを目指す！</dd>
                            </dl>
                        </div>
                        <div class="features__item">
                            <figure><img src="<%- dir %>assets/img/aieopnecampus/image_feature_02.jpg" alt=""></figure>
                            <dl>
                                <dt><span>全国屈指！最新の設備!</span></dt>
                                <dd>シャンプー台を40台完備！<br>
                                    サロン仕様の実習室で現場を意識し学ぶ</dd>
                            </dl>
                        </div>
                        <div class="features__item">
                            <figure><img src="<%- dir %>assets/img/aieopnecampus/image_feature_03.jpg" alt=""></figure>
                            <dl>
                                <dt><span>高い就職率<br>
                                    ＆国家試験合格率</span></dt>
                                <dd>経験豊富な教員が<br>
                                    一人ひとり、丁寧に全力サポート</dd>
                            </dl>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <section id="introduction" class="introduction">
            <div class="c-wrapper -w1200">
                <h3 class="title">ジェイヘアメイクの美容師科をご紹介</h3>
                <div class="introduction__slider">
                    <div class="introduction__slider__item">
                        <h3 class="introduction__slider__item__title">ヘアスタイリスト専攻</h3>
                        <h4 class="introduction__slider__item__lead">ヘアとメイク技術を身につけトータルで活躍する<br>
                        ヘアメイクアップアーティストを目指す</h4>
                        <div class="introduction__slider__item__inner">
                            <div class="introduction__slider__item__text">
                                <h5 class="introduction__slider__item__text__title">カリキュラム</h5>
                                <p class="introduction__slider__item__text__lead">ヘアに関わる最新技術･センスを身につけて、サロンで活躍できる人材を育成します。<br>
                                ヘアサロンで即戦力となれるようカットやパーマ、カラーリング、スタイリングなどヘアに特化した実践的なカリキュラムで応用技術をしっかり身につけていきます。</p>
                                <h5 class="introduction__slider__item__text__title">主な授業内容</h5>
                                <p class="introduction__slider__item__text__lead">デザインカット/デザインカラー/パーマテクニック/フォトコンテスト/スタイリング</p>
                            </div>
                            <div class="introduction__slider__item__image">
                                <img src="<%- dir %>assets/img/aieopnecampus/image_stylist_01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="introduction__slider__item">
                        <h3 class="introduction__slider__item__title">ヘアスタイリスト専攻</h3>
                        <h4 class="introduction__slider__item__lead">ヘアとメイク技術を身につけトータルで活躍する<br>
                        ヘアメイクアップアーティストを目指す</h4>
                        <div class="introduction__slider__item__inner">
                            <div class="introduction__slider__item__text">
                                <h5 class="introduction__slider__item__text__title">カリキュラム</h5>
                                <p class="introduction__slider__item__text__lead">ヘアに関わる最新技術･センスを身につけて、サロンで活躍できる人材を育成します。<br>
                                ヘアサロンで即戦力となれるようカットやパーマ、カラーリング、スタイリングなどヘアに特化した実践的なカリキュラムで応用技術をしっかり身につけていきます。</p>
                                <h5 class="introduction__slider__item__text__title">主な授業内容</h5>
                                <p class="introduction__slider__item__text__lead">デザインカット/デザインカラー/パーマテクニック/フォトコンテスト/スタイリング</p>
                            </div>
                            <div class="introduction__slider__item__image">
                                <img src="<%- dir %>assets/img/aieopnecampus/image_stylist_01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="cta belt">
            <p>AO入試エントリー資格を得るための<br>
            OC参加証明書発行はこちら！</p>
            <div class="btn c-btn -red">
                <a href="#" class="btn__inner c-btn__inner"><span class="btn__txt">OC参加証明書発行はこちら</span><span class="btn__arrow"></span>
                </a>
            </div>
        </div>

        <div class="logo_tel">
            <ul>
                <li><img src="<%- dir %>assets/img/aieopnecampus/logo_01.png" alt=""></li>
                <li><img src="<%- dir %>assets/img/aieopnecampus/tel_01.png" alt="0800-800-1434 〒260-0021 千葉県千葉市中央区新宿2-14-3"></li>
            </ul>
        </div>

    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>

<script>
    $(function(){
        $('.introduction__slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            dots:false,
            prevArrow: '<div class="slide-arrow prev-arrow"><img src="<%- dir %>assets/img/aieopnecampus/icon_arrow_l_01.png"></div>',
            nextArrow: '<div class="slide-arrow next-arrow"><img src="<%- dir %>assets/img/aieopnecampus/icon_arrow_r_01.png"></div>'
        });
    });
    </script>