<%- include('./_config.ejs'); %>

<% title = "特待生制度"; %>
<% body_class = "j-scholaship"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a>
                    <span>&gt;</span>
                    <span>特待生制度</span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -j">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                    <img src="./assets/img/name_j.png" alt="">
                </picture>
            </div>
        </div>
       <div class="c-application_bg -j">
           <div class="c-application_bg_inner">
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">特待生制度</h2>
                            </div>
                        </div>
                        <div class="sub_explain">
                            <p>美容関連業界で働く事を目指し、本校への入学を希望する方に対して年間授業料の一部を免除する制度です。</p>
                        </div>
                        <div class="c-application_tableA">
                            <table class="table -j">
                                <thead>
                                    <tr class="head">
                                        <td>
                                            <div>

                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div>
                                                インナービューティ科
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                募集人数
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">
                                            <div>
                                                学費免除額
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                特待生Ａ
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                100,000円
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                8名程度
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="notbeige">
                                            <div>
                                                特待生Ｂ
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                50,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                応募資格
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div>
                                                <ul>
                                                    <li>1. 本校のオープンキャンパス等に参加し、本校を第一志望とする方</li>
                                                    <li>2. 指定校推薦入学選考・学校推薦入学選考・AO入学選考で受験する方</li>
                                                    <li>3. 高校生の総合評定平均が、3.0以上の方</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                応募方法
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div>
                                                入学願書の特待生制度を「希望する」にチェックを入れてください。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                選考日
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div>
                                                2021年10月09日（土）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                選考方法
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div>
                                                書類選考・面接
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                選考結果
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div>
                                                入学選考結果通知と一緒にお送りします。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                備考
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div>
                                                <ul>
                                                    <li>1. 授業料の免除は1年次のものです。</li>
                                                    <li>2. 入学後の夏に1年次特待生の追加選考を実施致します。<br>※選考基準：出席率・前期成績・貢献度</li>
                                                    <li>3. 2年進級時に2年生特待生選考を実施致します。<br>※選考基準：出席率・1年次成績・貢献度</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                特待生の役割
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div>
                                                クラスリーダーや学校説明会のスタッフ等の役割を担って頂きます
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
           </div>
       </div>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>