<%- include('./_config.ejs'); %>

<% title = "入試概要"; %>
<% body_class = "j-outline"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a>
                    <span>&gt;</span>
                    <span>入試概要</span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -j">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                    <img src="./assets/img/name_j.png" alt="">
                </picture>
            </div>
        </div>
       <div class="c-application_bg -j">
           <div class="c-application_bg_inner">
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">募集学科</h2>
                            </div>
                        </div>
                        <div class="c-application_tableA">
                            <table class="table -j">
                                <thead>
                                    <tr class="head">
                                        <td>
                                            <div>学科</div>
                                        </td>
                                        <td colspan="2">
                                            <div>専攻</div>
                                        </td>
                                        <td>
                                            <div>性別</div>
                                        </td>
                                        <td>
                                            <div>修業年数</div>
                                        </td>
                                        <td>
                                            <div>募集人数</div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">
                                            <div>美容師科</div>
                                        </td>
                                        <td rowspan="2">
                                            <div>昼間部</div>
                                        </td>
                                        <td>
                                            <div class="major">ヘアスタイリスト専攻</div>
                                        </td>
                                        <td rowspan="2">
                                            <div>男・女</div>
                                        </td>
                                        <td rowspan="2">
                                            <div>2年</div>
                                        </td>
                                        <td rowspan="2">
                                            <div>80名</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="major">ヘアメイク専攻</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="note">
                                <p>※定員になり次第、募集を締め切らせていただきます。</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">入学選考の種類・提出書類</h2>
                            </div>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                 <h3 class="text">AO入学選考</h3>
                             </div>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table -j">
                                <tbody>
                                    <tr>
                                        <td>AO入学選考とは</td>
                                        <td>
                                            <div>
                                                本校のAO入学選考は、受験者本人が本校のアドミッションポリシーと教育内容を理解し、本校への入学を強く希望する意思を持ち備えていることを確認するものです。<br>学力や成績だけでは推し量れない受験者本人の多様な能力と職業への適応性などを総合的に審査し、受験希望の方と、早い時期から時間をかけて入学希望について話し合いを行い、入学を決定する制度です。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>アドミッションポリシー</td>
                                        <td>
                                            <div>
                                                将来、美容分野のサービス業で働きたいと考えている人で、その将来の目標に向かって意欲的に取り組み、実行できる人。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>応募資格</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 高等学校卒業（見込み）または同等以上の学力を有する方<br><span>※入学時18歳以上の方</span></li>
                                                    <li>2. 本校の主催するオープンキャンパス等に参加している方</li>
                                                    <li>3. 本校のアドミッションポリシーを理解し、本校を第一志望とする方</li>
                                                    <li>4. 高校生の方は、AO入学選考について高校の先生と相談している方</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>エントリー受付</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>第1期　2021年06月01日（火）～2021年07月31日（土）</li>
                                                    <li>第2期　2021年08月01日（日）～2021年09月30日（木）</li>
                                                    <li>第3期　2021年10月11日（月）～2021年12月11日（土）</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>提出書類</td>
                                        <td>
                                            <div>
                                                <p>
                                                    <strong>【エントリー時】</strong><br>AOエントリーシート
                                                </p>
                                                <strong>【出願時】</strong>
                                                <ul>
                                                    <li>1. 入学願書</li>
                                                    <li>2. 調査書（証明書）</li>
                                                    <li>3. 出願認定合格証</li>
                                                    <li>4. 受験票　※特待生希望者のみ</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>選考方法</td>
                                        <td>
                                            <div>
                                                AOエントリーシート・適性面談
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>面談結果発送日</td>
                                        <td>
                                            <div>
                                                面談後およそ1週間で、書面にて通知致します。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>願書受付</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>第1期　2021年10月01日（金）～2021年10月06日（水）</li>
                                                    <li>第2期　2021年10月01日（金）～2021年10月06日（水）</li>
                                                    <li>第3期　2021年10月18日（月）～2021年12月16日（木）</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>出願特典</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 選考料20,000円免除</li>
                                                    <li>2. 特待生受験可能<br><span>　※特待生希望者は10月06日（水）までに出願となります。<br><span>　※特待生を希望する場合は、面接試験を10月9日（土）に実施致します。</span></li>
                                                    <li>3. プレスクールを受講できる</li>
                                                    <li>4. 早期進路決定ができる</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>合否通知</td>
                                        <td>
                                            <div>
                                                2021年10月15日（金）書面にて発送　以降は選考後5日以内に発送いたします。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>プレスクール</td>
                                        <td>
                                            <div>
                                                各校の入学前プログラムとして、授業が受講できます。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>注意事項</td>
                                        <td>
                                            <div>
                                                『AO入学選考内定後に、高校での学業および生活態度に問題があった場合には、内定を取り消すことがあります。』
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                 <h3 class="text">指定校推薦入学選考</h3>
                             </div>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table -j">
                                <tbody>
                                    <tr>
                                        <td>応募資格</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 本校の定める指定校に在籍している方</li>
                                                    <li>2. 2022年3月高等学校卒業見込みの方</li>
                                                    <li>3. 学校長の推薦を受けられる方</li>
                                                    <li>4. 総合評定平均3.0以上で3年間の欠席が15日以内の方</li>
                                                    <li>5. 本校のオープンキャンパス等に参加している方</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>提出書類</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 入学願書</li>
                                                    <li>2. 推薦書（ダウンロードは<a class="link">こちら</a>）</li>
                                                    <li>3. 調査書（証明書）</li>
                                                    <li>4. 受験票</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>願書受付期間</td>
                                        <td>
                                            <div>
                                                2021年10月01日（金）～2021年10月06日（水）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>選考方法</td>
                                        <td>
                                            <div>
                                                書類選考・面接試験
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>出願特典</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 選考料20,000円免除</li>
                                                    <li>2. 特待生受験可能</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>選考日</td>
                                        <td>
                                            <div>
                                                2021年10月09日（土）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>合否通知</td>
                                        <td>
                                            <div>
                                                2021年10月15日（金）書面にて発送
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                 <h3 class="text">学校推薦入学</h3>
                             </div>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table -j">
                                <tbody>
                                    <tr>
                                        <td>応募資格</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 2022年3月高等学校卒業見込みの方</li>
                                                    <li>2. 高等学校の推薦を受けられる方</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>提出書類</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 入学願書</li>
                                                    <li>2. 推薦書（ダウンロードは<a class="link">こちら</a>）</li>
                                                    <li>3. 調査書（証明書）</li>
                                                    <li>4. 受験票</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>願書受付期間</td>
                                        <td>
                                            <div>
                                                2021年10月01日（金）～2021年12月11日（土）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>選考方法</td>
                                        <td>
                                            <div>
                                                書類選考・面接試験
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>出願特典</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 選考料20,000円免除</li>
                                                    <li>2. 特待生受験可能</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>選考日</td>
                                        <td>
                                            <div>
                                                2021年10月09日（土）※10月06日（水）までの出願者対象<br>以降は随時実施
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>合否通知</td>
                                        <td>
                                            <div>
                                                2021年10月15日（金）書面にて発送<br>以降は選考後5日以内に発送いたします。
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                 <h3 class="text">一般入学選考</h3>
                             </div>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table -j">
                                <tbody>
                                    <tr>
                                        <td>応募資格</td>
                                        <td>
                                            <div>
                                                高等学校卒業（見込み）または同等以上の学力を有する方<br><span>※入学時18歳以上の方</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>提出書類</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 入学願書</li>
                                                    <li>2. 調査書（証明書）</li>
                                                    <li>3. 出願認定合格証</li>
                                                    <li>4. 受験票　※特待生希望者のみ</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>願書受付</td>
                                        <td>
                                            <div>
                                                2021年10月01日（金）～2022年03月11日（金）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>選考方法</td>
                                        <td>
                                            <div>
                                                書類選考・面接試験
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>選考日</td>
                                        <td>
                                            <div>
                                                2021年10月09日（土）※10月06日（水）までの出願者対象<br>以降は随時実施
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>合否通知</td>
                                        <td>
                                            <div>
                                                2021年10月15日（金）書面にて発送<br>以降は選考後5日以内に発送致します。
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="note">
                                ※入学願書・AOエントリーシートの受付について<br>学校窓口での受付時間は、9:30～17:00までとなります。土曜・日曜・祝日及び年末年始（12月27日～1月5日）は、行っておりません。ただしオープンキャンパス開催日は受付をいたします。
                            </div>
                        </div>
                    </div>
                </section>
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">提出書類</h2>
                            </div>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table -j">
                                <tbody>
                                    <tr>
                                        <td>入学願書</td>
                                        <td>
                                            <div>
                                                写真（縦4cm×横3cm）を必ず添付
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>受験票</td>
                                        <td>
                                            <div>
                                                写真（縦4cm×横3cm）を必ず添付
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>証明書</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>1. 高等学校卒業（見込み）または同等以上の学力を有する方<br><span>※入学時18歳以上の方</span></li>
                                                    <li>2. 本校の主催するオープンキャンパス等に参加している方</li>
                                                    <li>3. 本校のアドミッションポリシーを理解し、本校を第一志望とする方</li>
                                                    <li>4. 高校生の方は、AO入学選考について高校の先生と相談している方</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">証明書</td>
                                        <td>
                                            <div>
                                                <strong>高校生：調査書</strong>
                                                <ul>
                                                    <li>・3学期制の学校は、3年生1学期末までのもの</li>
                                                    <li>・2学期制の学校は、3年生前期末まのもの</li>
                                                    <li>※合格者は、入学後に高校の卒業を証明できる書類が必要になります。</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="notbeige">
                                        <td>
                                            <div>
                                                高等学校卒業程度認定試験合格者：合格成績証明書または、合格証明書
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="notbeige">
                                        <td>
                                            <div>
                                                大学・短大・専門学校生：在籍校の卒業見込み証明書及び成績証明書
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="notbeige">
                                        <td>
                                            <div>
                                                社会人：最終出身校の卒業証明書または、コピー
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>出願認定合格証</td>
                                        <td>
                                            <div>
                                                AO入学選考適正面談後の内定者
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>推薦書</td>
                                        <td>
                                            <div>
                                                指定校推薦・学校推薦の受験者
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>入学選考料</td>
                                        <td>
                                            <div>
                                                <strong>20,000円</strong><br>
                                                （一般入学選考の受験者）<br>
                                                ・郵送の場合は郵便為替にてお送りください。学校窓口の場合は現金でもお受けいたします。
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mail_img">
                                <div>
                                    <img src="<%- dir %>assets/img/application/aie/mail.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
           </div>
       </div>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>