<%- include('./_config.ejs'); %>

<% title = "学費"; %>
<% body_class = "j-fees"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a>
                    <span>&gt;</span>
                    <a class="black" href="">学費</a>
                </div>
            </div>
        </div>
        <div class="c-schoolname -j">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                    <img src="./assets/img/name_j.png" alt="アイエステ">
                </picture>
            </div>
        </div>
       <div class="c-application_bg -j">
           <div class="c-application_bg_inner">
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">昼間部 学費</h2>
                            </div>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h2 class="text">学費</h2>
                            </div>
                        </div>
                        <div class="c-application_tableA">
                            <table class="table -j">
                                <thead>
                                    <tr class="head">
                                        <td rowspan="2"></td>
                                        <td></td>
                                        <td>
                                            <div>
                                                納付時間

                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                入学金

                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                授業料

                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                施設費

                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                小計

                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                年間合計

                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">
                                            <div>
                                                1年次
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                前期分
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                入学手続き時
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                150,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                300,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                120,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                570,000円
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                9,900,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="notbeige">
                                        <td>
                                            <div>
                                                後期分
                                            </div>
                                        </td>
                                        <td class="notbeige">
                                            <div>
                                                1年次8月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                —
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                300,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                120,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                460,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">
                                            <div>
                                                2年次
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                前期分
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                1年次3月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                —
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                360,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                120,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                480,000円
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                960,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                後期分
                                            </div>
                                        </td>
                                        <td class="notbeige">
                                            <div>
                                                2年次8月
                                            </div>
                                        </td>
                                        <td>
                                            —</td>
                                        <td>
                                            <div>
                                                360,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                120,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                480,000円
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h2 class="text">その他の費用</h2>
                            </div>
                        </div>
                        <div class="c-application_tableA">
                            <table class="table -j other_fees">
                                <thead class="head">
                                    <tr>
                                        <td colspan="3">
                                            <div>
                                                専攻
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                給付時期
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                行事費
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                諸費用
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                教科書・教材<br>制服・検定など
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                小計
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                年間合計
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="4">
                                            <div>
                                                ヘアスタイリスト
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                1年次
                                            </div>
                                        </td>
                                        <td class="beige">
                                            <div>
                                                前期分
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                2021年12月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                20,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                240,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                345,000円
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                430,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                後期分
                                            </div>
                                        </td>
                                        <td class="notbeige">
                                            <div>
                                                1年次8月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                ―
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                -
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">
                                            <div>
                                                2年次
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                前期分
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                1年次3月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                10,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                190,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                285,000円
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                370,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                後期分
                                            </div>
                                        </td>
                                        <td class="notbeige">
                                            <div>
                                                2年次8月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                ―
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                -
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td rowspan="4">
                                            <div>
                                                ヘアメイク
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                1年次
                                            </div>
                                        </td>
                                        <td class="beige">
                                            <div>
                                                前期分
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                2021年12月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                20,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                240,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                345,000円
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                450,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                後期分
                                            </div>
                                        </td>
                                        <td class="notbeige">
                                            <div>
                                                1年次8月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                ―
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                20,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">
                                            <div>
                                                2年次
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                前期分
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                1年次3月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                10,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                170,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                285,000円
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                350,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                後期分
                                            </div>
                                        </td>
                                        <td class="notbeige">
                                            <div>
                                                2年次8月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                ―
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                -
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                85,000円
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="note">
                            <p>
                                ※入学後に専攻の選択がありますので、1年次の教科書・教材・制服・検定費用は、前期の金額を納入して<br>いただき、専攻決定後に後期分をご請求させて頂きます。
                            </p>
                            <p>
                                ※その他費用は概算の金額となり、カリキュラムや教科書代金、検定試験料等の改定に伴い、変更になる場合がございます。
                            </p>
                            <p>
                                ※その他費用は2022年2月末頃に決定次第、改めてご案内させて頂きます。
                            </p>
                            <p>
                                ※諸費用とは、機器備品購入管理維持費・健康診断費・学生傷害保険費・実習費等になります。
                            </p>
                        </div>
                    </div>
                </section>
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">学費納入規定</h2>
                            </div>
                        </div>
                        <div class="list">
                            <ul class="list_wrap">
                                <li class="list_wrap__item">
                                    1. 学費のうち「授業料」は、前期・後期の2回に分けて納入となりますが、年間分を入学時に一括納入されても差し支えありません。
                                </li>
                                <li class="list_wrap__item">
                                    2. 10月末日までの入学選考で合格された方は、<span>入学手続きの締め切り日2021年11月04日（木）</span>までに入学金を納入し、手続きに従い残金を<span>2021年12月10日（金）</span>までに納入して頂いても結構です。
                                </li>
                                <li class="list_wrap__item">
                                    3. 指定された期日までに届け出なく学費が納入されない場合は、入学辞退及び退学されたものとみなします。
                                </li>
                                <li class="list_wrap__item">
                                    4. <span>2022年3月25日（金）</span>までに、所定の「入学辞退手続き」により入学を辞退された方に限り、入学手続き納入金額から入学金を差し引いた金額（授業料・施設費・その他費用）を返金致します。但し、教科書代・教材費等については3月以降に辞退された場合は実費を負担していただきます。
                                </li>
                                <li class="list_wrap__item">
                                    5. 記載の必要経費以外に、寄付金・学校債などを求めたりすることはありません。
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
           </div>
       </div>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>