<%- include('./_config.ejs'); %>

<% title = "学習サポート"; %>
<% body_class = "j-support"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a>
                    <span>&gt;</span>
                    <span>学習サポート</span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -j">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                    <img src="./assets/img/name_j.png" alt="アイエステ">
                </picture>
            </div>
        </div>
       <div class="c-application_bg -j">
           <div class="c-application_bg_inner">
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="sub_explain">
                            <p>
                                本校では、自力での進学も可能とする独自の学費サポート制度を用意し、みなさんの夢の実現を経済面でもバックアップいたします。<br>
                                <span>※ 特待生制度や他の学費プランとの併用も可能です。</span>
                            </p>
                        </div>
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">学費分納制度</h2>
                            </div>
                        </div>
                        <div class="sub_explain">
                            <p>「授業料」と「施設費」を入学後に"月々分割納入"出来る制度です。</p>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table -j">
                                <tbody>
                                    <tr>
                                        <td>申請条件</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>
                                                        1. 「入学金」と「その他費用」は入学前の納入となります。
                                                    </li>
                                                    <li>
                                                        2. 「日本学生支援機構」の奨学金貸与額が100,000円以上の採用候補者の方
                                                        <br>〈以下の方はご相談下さい〉
                                                        <br>入学後に「日本学生支援機構」の奨学金（貸与型）を100,000円以上お申し込みをされる予定の方
                                                        <br>第一種奨学金（無利息）や給付型をお申し込みの方、奨学金を併用される方
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>手続き</td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>
                                                        1. 入学願書の「学費分納制度」を希望するにチェックを入れてください。
                                                    </li>
                                                    <li>
                                                        2. 「採用候補者決定通知」が届きましたら、コピーを提出してください。
                                                    </li>
                                                    <li>
                                                        3. 入学後に預金口座からの引き落とし手続きを行います。
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>支払い概要</td>
                                        <td>
                                            <div>
                                                〈入学前に支払〉
                                                <br>「入学金」
                                                <br>「その他費用」
                                                <br>〈入学後に支払〉
                                                <br>「授業料」　毎月、預貯金口座振替
                                                <br>「施設費」　（自動引き落とし）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>学費に関する<br>
                                            お問い合わせ</td>
                                        <td>
                                            <div>
                                                ジェイ ヘアメイク美容専門学校　学務室　<br>0800-800-1434
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">日本学生支援機構 奨学金（卒業後返済）</h2>
                            </div>
                        </div>
                        <div class="sub_explain">
                            <p>本校の学生は、日本学生支援機構の奨学金制度の申し込みが可能です。</p>
                        </div>
                        <div class="c-application_tableA">
                            <table class="table repayment -j">
                                <thead class="head">
                                    <tr>
                                        <td>
                                            <div>
                                                
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div>
                                                第一種奨学金（無利子）
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                第二種奨学金（有利子）
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">
                                            <div>
                                                貸与月額
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                自宅通学
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                自宅外
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                20,000円〜120,000円<br>（10,000円刻み）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="notbeige">
                                            <div>
                                                20,000円 / 30,000円 / 40,000円 / 53,000円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                20,000円 / 30,000円 / 40,000円 / 50,000円 / 60,000円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                利息
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div>
                                                無利子
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                有利子<br>※年率3.0%上限
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                推薦基準
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div>
                                                高等学校最終2か年の評定平均値が3.2以上
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                学修意欲があり、学業を確実に<br>修了できる見込みのある方
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                 <h3 class="text">手続きの流れ</h3>
                             </div>
                        </div>
                        <div class="c-application_tableA">
                            <table class="table flow -j">
                                <thead class="head">
                                    <tr>
                                        <td>
                                            <div>

                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div>
                                                入学前 予約採用
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div>
                                                入学後 在学採用
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="7">
                                            <div>
                                                手続きの流れ
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                4月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                高等学校にて申し込み手続き
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                10月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                出願
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                10月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                出願
                                            </div>
                                        </td>
                                        <td>
                                            <div>

                                            </div>
                                        </td>
                                        <td>
                                            <div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                11月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                採用候補者決定通知」がご自宅へ届く。<br>
                                                「採用決定候補者通知」のコピーを提出してください。
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                4月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                入学後、奨学金希望者へ校内説明会を開催<br>
                                                申し込み手続き開始
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                4月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                入学後、進学届提出
                                            </div>
                                        </td>
                                        <td>
                                            <div>

                                            </div>
                                        </td>
                                        <td>
                                            <div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                5月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                奨学金振込開始（4月分もまとめて5月に振込）
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                6月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                奨学金振込開始（4、5月分もまとめて6月に振込）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                1月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                「奨学金継続願」提出（2年次の奨学金の手続き）
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                1月
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                「奨学金継続願」提出（2年次の奨学金の手続き）
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                卒業
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                返還説明会（校内）を開催。卒業後の返還口座手続き。<br>
                                                卒業6ヵ月後の10月（10/27頃）より返還開始<br>
                                                毎月、口座引落にて返還。（繰上返還、減額返還可能）
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                卒業
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                返還説明会（校内）を開催。卒業後の返還口座手続き。<br>
                                                卒業6ヵ月後の10月（10/27頃）より返還開始<br>
                                                毎月、口座引落にて返還。（繰上返還、減額返還可能）
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="contact_link">
                            <div class="contact_link_wrap">
                                <div class="scholaship">
                                    <strong>日本学生支援機構</strong>
                                    <ul>
                                        <li>
                                            TEL：0570-666-301
                                        </li>
                                        <li>
                                            <span>/</span>
                                        </li>
                                        <li>
                                            https://www.jasso.go.jp
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">高等教育の修学支援新制度（入学金・授業料減免及び給付型奨学金）</h2>
                            </div>
                        </div>
                        <div class="sub_explain">
                            <p>
                                <strong>当校は、『高等教育の修学支援新制度』の対象校です。</strong>（以下、新制度とする。）<br>
                                2020年4月から入学金・授業料の減免と給付型奨学金により、みなさんの「学びたい気持ち」を応援する新制度が始まりました。<br>
                                経済的な理由で進学を諦めることがないよう、より多くの人が支援を受けられるようになりました。
                            </p>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table -j">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div>
                                                1.対象となる方
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li>次の①・②のいずれの条件にも当てはまる方</li>
                                                    <li>① 世帯収入（※）や資産の要件を満たしていること<br>（住民税非課税世帯及びそれに準ずる世帯）</li>
                                                    <li>② 進学先で学ぶ意欲のある学生であること</li>
                                                </ul>
                                                <div class="check">
                                                    <div>
                                                        <p>
                                                            成績だけでなく学修意欲を評価することで多くの方が対象となりますが、<br>
                                                            <strong>当校入学後の学業不振や欠席が多い等の理由により支援の打ち切り、返還が必要となる場合があります。</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p>
                                                    ※基準を満たす世帯年収は家族構成により異なります。<br>シミュレーションにより支援対象となるか、どのくらい支援を受けられるかご確認ください。
                                                </p>
                                                <p>■進学資金シミュレーター　（https://shogakukin-simulator.jasso.go.jp/）<br>シミュレーションの際は、「保護者の方向け」をお選びください。<br><strong>ただし、支援の最終決定は、日本学生支援機構がマイナンバーにより確認を行います。</strong>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                2.支援金額
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                支援対象となる方の支援区分は3つ（①～③）の種類があります。<br>給付奨学金は通学形態（自宅/自宅外）で異なります。<br>減免は当校が実施、給付型奨学金は日本学生支援機構（JASSO）が実施します。
                                                <section class="c-application_tableA">
                                                    <table class="table -j">
                                                        <thead class="head">
                                                            <tr>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        支援区分/金額
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        区分
                                                                    </div>
                                                                </td>
                                                                <td colspan="2">
                                                                    <div>
                                                                        減免(年額)
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        区分
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        給付型奨学金
                                                                        <br>(月額)
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div>
                                                                        入学金
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        授業料
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        ①第Ⅰ区分<br>(全　額)
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        昼間
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        150,000円
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        590,000円
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        自宅
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        38,300円
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div>
                                                                        自宅外
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        75,800円
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        ②第Ⅱ区分<br>(3分の2)
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        昼間
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        150,000円
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        590,000円
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        自宅
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        38,300円
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div>
                                                                        自宅外
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        75,800円
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        ③第Ⅲ区分
                                                                        <br>(3分の1)
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        昼間
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        150,000円
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">
                                                                    <div>
                                                                        590,000円
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        自宅
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        38,300円
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div>
                                                                        自宅外
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        75,800円
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </section>
                                                ※指定校推薦や特待生の方は、制度の減免後の金額を基準として、支援金額を算出致します。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                3.手続きの流れ
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p>
                                                    【予約採用】高校での申し込みを行った方<br>・所定の期日までに入学金相当額を納入いただき、その他の金額や支払期日に関しては、別途定めます。<br>採用候補者決定通知により支援確定確認後、減免後の学納金を改めてご案内し、納入いただきます。<br>
                                                </p>
                                                <p>
                                                    【在学採用】高校で申し込みを行わなかった方<br>・当校入学後に手続きを行いますが、入学前にシミュレーション結果の提出等、事前手続きを行います。<br>入学後の手続きが終了し、支援確定後（2022年6月頃を予定）、減免後の学納金のご案内をいたします。<br>学費は通常の納入期日で行い、支援確定後に減免の手続きをご案内いたします。
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                4.制度内容
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                新制度の詳細は以下のホームページをご覧ください。<br>・文部科学省サイト　「高等教育の修学支援新制度」<a>https://www.mext.go.jp/a_menu/koutou/hutankeigen/index.htm</a><br>・日本学生支援機構サイト　「奨学金の制度（給付型）」<br><a>https://www.jasso.go.jp/index.html</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                5.その他
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                申請時だけでなく、入学後も各年秋頃に経済区分（年収等）の確認と、年2回の学業成績等の確認により支援の継続を判断します。
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                学費に関するお問い合わせ
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                ジェイ ヘアメイク美容専門学校　学務室　<br>0800-800-1434
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <section class="p-app_block">
                    <div class="p-app_block_inner">
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                 <h2 class="text">日本政策金融公庫「国の教育ローン」</h2>
                             </div>
                        </div>
                        <div class="loan">
                            <div>
                                <p>
                                    学びたい人を幅広く支援する取扱い実績35年以上の教育ローン。学校納付金は全て融資対象になります。
                                </p>
                                <ul class="list">
                                    <li>
                                        ● 最高350万円までお借り入れ可能
                                    </li>
                                    <li>
                                        ● 年1.68%安心の固定金利
                                    </li>
                                    <li>
                                        ● 20日程度でご入金
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h3 class="text">利用できる方</h3>
                            </div>
                        </div>
                        <div class="available">
                            <div class="available_inner">
                                <div class="available_inner_title">
                                    <h4>世帯の年間収入（所得）が下表の金額以内の方</h4>
                                </div>
                                <div class="c-application_tableA">
                                    <table class="table child -j">
                                        <thead class="head">
                                            <tr>
                                                <td>
                                                    <div>
                                                        子供の数
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        1人
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        2人
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        3人
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        4人
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        5人
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="notbeige">
                                                    <div>
                                                        給与所得者<br>（事業所得者）
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        790万円<br>（600万円）<span>※</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        890万円<br>（690万円）<span>※</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        990万円
                                                        <br>（790万円）
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        1,090万円
                                                        <br>（890万円）
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        1,190万円
                                                        <br>（990万円）
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="available_inner_content">
                                    <p>
                                        ※日本学生支援機構の奨学金と重複しての利用もできます。
                                    </p>
                                    <p>
                                        <strong class="note_red">
                                            ※ お子さまが2人以内の場合、以下の①〜⑧の要件のいずれか一つに該当する場合、<br>990万円（790万円）まで上限額が緩和されます。
                                        </strong>
                                    </p>
                                    <div class="upper_list">
                                        <h4>上限額緩和条件</h4>
                                        <ul>
                                            <li>
                                                1. 勤続（営業）年数が3年未満
                                            </li>
                                            <li>
                                                2. 居住年数が1年未満
                                            </li>
                                            <li>
                                                3. 世帯のいずれかの方が自宅外通学（予定）者
                                            </li>
                                            <li>
                                                4. 借入申込人またはその配偶者が単身赴任
                                            </li>
                                            <li>
                                                5. 借入申込人の年収（所得）に占める借入金返済の負担率が30％超
                                            </li>
                                            <li>
                                                6. ご親族などに「要介護（要支援）認定」をうけている方がおり、その介護に関する費用を負担
                                            </li>
                                            <li>
                                                7. 大規模な災害により被災された方
                                            </li>
                                            <li>
                                                8. 新型コロナウイルス感染症の影響を受けて世帯収入または所得が減少した方。
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table available -j">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div>
                                                融資額
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                学生お一人につき350万円以内
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                返済期間
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                15年以内<br>※交通遺児家庭または母子家庭・父子家庭の方は、3年の延長が可能
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                利息
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                年1.68％以内（2020年1月現在）<br>※母子家庭・父子家庭または世帯年収（所得）　200万円（122万円）以内の方は年1.28％
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                保証人
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                （公財）教育資金融資保証基金による保証（保証料別途）または連帯保証人からお選びいただけます。
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h3 class="text">返済例【毎月元利均等返済の場合】</h3>
                            </div>
                        </div>
                        <div>
                            <p>
                                ※日本政策金融公庫のホームページで返済シミュレーションができます。
                            </p>
                        </div>
                        <div class="c-application_tableA">
                            <table class="table simulation -j">
                                <thead class="head">
                                    <tr>
                                        <td>
                                            <div>
                                                借入金
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div>
                                                毎月の返済額
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div>

                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                5年（59回）返済
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                10年（119回）返済
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                100万円借の場合
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                17,700円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                9,200円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                200万円借の場合
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                35,400円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                18,300円
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                300万円借の場合
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                53,100円
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                27,400円
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h3 class="text">手続きの流れ</h3>
                            </div>
                        </div>
                        <div class="support_flow">
                            <p class="support_flow_note">
                                お申し込みから融資までにはお時間がかかります。
                                <strong class="red">
                                    入学シーズンは申し込みが多くなりますので、できるだけ早めにお申し込みください。
                                </strong>
                            </p>
                            <div class="flow_img">
                                <div class="img">
                                    <img src="<%- dir %>assets/img/application/j/support_flow.png" alt="">
                                </div>
                            </div>
                            <div class="c-application_tableB">
                                <table class="table -j">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    申し込み方法
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    保護者の方から直接、窓口またはインターネット、電話での申し込みとなります。
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    お問い合わせ
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    日本政策金融公庫　教育ローンコールセンター<br>
                                                    TEL：0570-008656（又は、03-5321-8656）<br>
                                                    https://www.jfc.go.jp/
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <div class="c-application_titleA">
                            <div class="c-application_titleA_inner -j">
                                <h2 class="text">その他の制度</h2>
                            </div>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h3 class="text">その他の教育ローン</h3>
                            </div>
                        </div>
                        <div>
                            <p>保護者の方から直接、各金融機関へご連絡いただきお申し込みとなります。</p>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table loantel -j">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div>
                                                ろうきん（中央労働金庫）
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span><img src="<%- dir %>assets/img/application/j/tel.png" alt=""></span>0120-86-6956
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                ちばぎん
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span><img src="<%- dir %>assets/img/application/j/tel.png" alt=""></span>0120-71-7860
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                三井住友銀行
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span><img src="<%- dir %>assets/img/application/j/tel.png" alt=""></span>0120-923-923
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                               みずほ銀行
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span><img src="<%- dir %>assets/img/application/j/tel.png" alt=""></span>0120-3242-86
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                りそな銀行
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span><img src="<%- dir %>assets/img/application/j/tel.png" alt=""></span>0120-25-8156
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h3 class="text">ひとり暮らし応援制度（返済不要）</h3>
                            </div>
                        </div>
                        <div>
                            <p>親元を離れてひとり暮らしをする学生に対し、2年進級時に家賃の一部として補助金を支給する制度です。</p>
                        </div>
                        <div class="c-application_tableB">
                            <table class="table alone -j">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div>
                                                申請条件
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                自宅から通学に、120分以上かかり、親元を離れて一人暮らしをする方
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                補助額
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                120,000円　※2年進級時
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <p>
                                    ※ お申し込みは、入学願書提出時に「ひとり暮らし応援制度」に必ずチェックを入れてください。<br>
                                    ※ 支給時には、賃貸契約書のコピーが必要となりますので、大切に保管しておいてください。
                                </p>
                            </div>
                        </div>
                        <div class="alone_scholaship">
                            <div class="alone_scholaship_title">
                                <h5>スケジュール</h5>
                            </div>
                            <div class="alone_scholaship_flow">
                                <dl>
                                    <dt>
                                        <div>
                                            01
                                        </div>
                                    </dt>
                                    <dd>
                                        <div>
                                            入学願書を記入する際に、「ひとり暮らし応援制度」の希望するに必ずチェックを入れて提出していただきます。
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <div>
                                            02
                                        </div>
                                    </dt>
                                    <dd>
                                        <div>
                                            ひとり暮らし応援制度申込書を<span>入学前までに</span>提出していただきます。<br>※入学前までに申込書を提出した方のみが対象となります。
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <div>
                                            03
                                        </div>
                                    </dt>
                                    <dd>
                                        <div>
                                            進級後に必要書類を提出していただきます。<br>※提出時期等の詳細は進級後にお伝えいたします。
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <div>
                                            04
                                        </div>
                                    </dt>
                                    <dd>
                                        <div>
                                            受理後に補助金を支給いたします。
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h3 class="text">卒業生・在校生弟妹優遇制度（返済不要）</h3>
                            </div>
                        </div>
                        <div class="mb6">
                            <p>中村学園グループ（アイ エステティック専門学校、ジェイ ヘアメイク美容専門学校、専門学校ちば愛犬動物フラワー学園、国際トラベル・ホテル・ブライダル専門学校、ハッピー製菓調理専門学校）の卒業生または、在校生の弟妹の方が入学される場合には学費の一部（入学金相当額）を優遇します。詳しくは入学相談室までお問い合せください。</p>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h3 class="text">学生の人身事故に対する保険制度</h3>
                            </div>
                        </div>
                        <div class="mb6">
                            <p>本校では安心して勉学に励めるよう教育環境・施設の安全管理を期しておりますが、それでも万が一、学園内において人身事故が起きた場合を想定して、全員「学生・生徒災害傷害保険」に加入しています（保険代金は諸費用に含まれております）。
                                不慮の事故が起きた場合には、制度の定めるところに従って賠償されます。</p>
                        </div>
                        <div class="c-application_titleB">
                            <div class="c-application_titleB_inner -j">
                                <h3 class="text">通学定期・学生割引</h3>
                            </div>
                        </div>
                        <div class="mb6">
                            <p>本校に在学する学生には、通学定期および遠距離旅行の場合の公共交通運賃に、学生割引が適用されます。但し、入学式後の適用になります。</p>
                        </div>
                    </div>
                </section>
           </div>
       </div>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>