<%- include('./_config.ejs'); %>

<% title = "ヘアスタイリスト専攻"; %>
<% body_class = "course_j-hm-course_stylist"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><a href="">ジェイヘアメイク専攻一覧</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -j">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                    <img src="./assets/img/name_j.png" alt="">
                </picture>
            </div>
        </div>
        <section>
            <div class="j-c-fv">
                <img src="<%- dir %>assets/img/course/j/stylist/j-c-features.png" alt="">
                <div class="j-c-title esthe_bg">
                    <div>
                        <h2>ヘアスタイリスト専攻</h2>
                        <div class="j-c-course">
                            美容師科
                        </div>
                    </div>
                    <img src="<%- dir %>assets/img/course/j/stylist/hair_stylist.png" alt="">
                </div>
            </div>
            <div class="j-c-info">
                <div class="j-c-info__pic">
                    <img src="<%- dir %>assets/img/course/j/stylist/fv_23.png" alt="">
                </div>
                <div class="j-c-info__txt">
                    <div class="j-c-info__wp">
                        <h3 class="j-c-h3">目指せる資格
                            <span>QUALIFICATION</span>
                        </h3>
                        <ul class="j-c-wp-list">
                            <li>美容師国家資格</li>
                            <li>CAAメイク検定 2級</li>
                            <li>CAAメイク検定 3級</li>
                            <li>JBCAビューティビジネス実務検定3級</li>
                            <li>F.S.A.StylingMap検定 ジュニア</li>
                            <li>JAAアロマコーディネーターライセンス</li>
                            <li>文部科学省後援 色彩検定3級</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="j-c-qualified esthe_bg">
                <div class="j-c-qualified_wrap">
                    <div class="j-c-qualified__txt">
                        <h4>JBCAビューティビジネス検定3級</h4>
                        <p>美容に関する健康な身体の知識、ヘアビューティ全般、アイゾーン、ネイル、店販商品などをトータルでアドバイス。さらに、美容室を「トータルできれいになる場所」へと導くことを目指す検定です。また、美容についてのカウンセリングやクレーム対応ができ、サロンの顔としてたくさんのスキルが求められます。顧客心理を学び、お客様のトータルビューティアドバイザーとして、あらゆるニーズに応えられる人材を育成する資格です。</p>
                    </div>
                    <div class="j-c-qualified__pic">
                        <img src="<%- dir %>assets/img/course/j/stylist/j_pass_rate.png" alt="合格率100%">
                    </div>
                </div>
                <div>
                    <img src="<%- dir %>assets/img/course/j/stylist/boder_dodts.png" alt="">
                </div>
                <div class="j-c-qualified__txt -second">
                    <h4>文部科学省後援 色彩検定</h4>
                    <p>彩検定では色の基礎から、配色技法（色の組み合わせ方）、専門分野における利用などを幅広く学習します。ヘアカラー・メイクアップを施す上で重要となる色の知識ですが、ファッション・デザイン・美容など、色に関する業界でのニーズが高く様々な形で資格を活かすことができます。</p>
                </div>
            </div>
        </section>
        <section class="j-c-voice j-c-section">
            <div class="j-c-voice__info">
                <h3 class="j-c-h3">学生の声
                    <span>VOICE</span>
                </h3>
                <div class="j-c-voice__name">
                    <p><span>山﨑 雄斗</span>さん</p>
                    <p>千葉県立長狭高等学校  出身</p>
                </div>
                <div class="j-c-voice__qa">
                    <dl>
                        <dt>資格を目指してみて</dt>
                        <dd>国家試験科目の座学や実技はもちろん、検定向けの授業や美容のカウンセリングなども学べます。</dd>
                    </dl>
                    <dl>
                        <dt>ヘアスタイリスト専攻の好きなところは？</dt>
                        <dd>カットの授業が多いから自信がつく！<br>
                            実践的で働くことを意識しながら学べる。</dd>
                    </dl>
                </div>
            </div>
            <div class="j-c-voice__pic">
                <img src="<%- dir %>assets/img/course/j/stylist/j-c-voice.png" alt="インタビューに答える学生">
            </div>
        </section>
        <section class="j-c-curriculum">
            <div class="j-c-curriculum_inner">
                <h3 class="j-c-h3">ヘアメイク専攻のここがすごい！
                    <span>AMAGING POINT</span>
                </h3>
                <div class="j-c-curriculum_inner_content">
                    <div class="shape">
                        <div><img src="<%- dir %>assets/img/course/j/stylist/shap_bg.png" alt=""></div>
                    </div>
                    <div class="curriculum">
                        <ul class="curriculum_inner">
                            <li>
                                <div>
                                    <img src="<%- dir %>assets/img/course/j/stylist/amazing_01.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="<%- dir %>assets/img/course/j/stylist/amazing_02.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="<%- dir %>assets/img/course/j/stylist/amazing_03.png" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="j-c-features">
            <div class="j-c-section">
                <h3 class="j-c-h3">主なカリキュラム
                    <span>Curriculum</span>
                </h3>
                <div>
                    <p>ヘアに関わる最新技術･センスを身につけて、サロンで活躍できる人材を育成します。ヘアサロンで即戦力となれるようカットやパーマ、カラーリング、スタイリングなど、ヘアに特化した実践的なカリキュラムで応用技術をしっかり身につけていきます。</p>
                </div>
                <div class="j-c-features__list">
                    <div class="esthe_bg">
                        <img src="<%- dir %>assets/img/course/j/stylist/designcut.png" alt="">
                        <dl>
                            <dt>デザインカット</dt>
                            <dd>ベーシックカットを応用し、より実践的なサロンスタイルを学びます。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg_d j-c-features-right">
                        <img src="<%- dir %>assets/img/course/j/stylist/designcolor.png" alt="">
                        <dl>
                            <dt>デザインカラー</dt>
                            <dd>サロン現場に即した実践的なヘアカラーを学びます。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg">
                        <img src="<%- dir %>assets/img/course/j/stylist/palm.png" alt="">
                        <dl>
                            <dt>パーマテクニック</dt>
                            <dd>ベーシックスタイルから応用的なワインディングまでを身につけます。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg_d j-c-features-right">
                        <img src="<%- dir %>assets/img/course/j/stylist/photo.png" alt="">
                        <dl>
                            <dt>フォトシューティング</dt>
                            <dd>オリジナルデザインを創作して、撮影した作品を出品します。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg">
                        <img src="<%- dir %>assets/img/course/j/stylist/styling.png" alt="">
                        <dl>
                            <dt>スタイリング</dt>
                            <dd>様々なスタイリング剤でお客様を仕上げる似合わせの技術を学びます。</dd>
                        </dl>
                    </div>
                </div>
        </section>
        <section class="j-c-collaboration">
            <div class="j-c-collaboration_inner">
                <div class="title">
                    <h3 class="j-c-h3">企業連携
                        <span>Corporate collaboration</span>
                    </h3>
                    <div>
                        <p>
                            【TONI & GUY】、【GOALD】など、業界最先端の企業とコラボレーション！「ジェイヘアメイク」ならプロの技術やセンスを間近で学べる！
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="content_inner">
                        <div class="img">
                            <img src="<%- dir %>assets/img/course/j/stylist/corporate.png" alt="">
                        </div>
                        <div class="text">
                            <p>日本美容師連盟加盟のサロンを中心に、今、現場で必要とされる技術や流行のスタイル等を、業界で活躍する売れっ子美容師から直接指導してもらえます。資格取得だけでは得られない「現場力」が身につきます。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="j-c-message-all">
            <div class="j-c-message">
                <div class="j-c-message__upper esthe_bg_b esthe_teacher">
                    <img src="<%- dir %>assets/img/course/j/stylist/j-c-teacher.png" alt="先生からのメッセージ">
                </div>
                <div class="j-c-message__lower esthe_bg">
                    <p class="j-c-message__lowtitle">
                        スタイリストデビューを<br>全力で応援します！
                    </p>
                    <p>
                        ジェイ ヘアメイク美容専門学校のヘアスタイリスト専攻では、サロンでの「現場」を意識した授業を数多く取り入れています。特に企業連携では、技術や接客などのスキルアップを目指すとともに、早期に業界のリアルを体感することで、現場で長く支持される美容師を育てます。学校と就職先との教育内容を近づけているジェイ ヘアメイク美容専門学校で、誰よりも早いスタイリストデビューを一緒にめざしましょう！
                    </p>
                </div>
            </div>
            <div class="j-c-message">
                <div class="j-c-message__upper esthe_bg_b esthe_teacher">
                    <img src="<%- dir %>assets/img/course/j/stylist/j-c-graduate.png" alt="卒業生からのメッセージ">
                </div>
                <div class="j-c-message__lower esthe_bg_d">
                    <p class="j-c-message__lowtitle">
                        現場の動きが身につく<br>サロンワーク実習
                    </p>
                    <p>
                        10代～50代の幅広い年代の男性のお客様を担当していると、ジェイで学んだサロンワーク実習（シャンプー）での会話への意識や、接客マナーが役に立っていると感じています。
                    </p>
                </div>
            </div>
        </section>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>