<%- include('./_config.ejs'); %>

<% title = "ヘアメイク専攻"; %>
<% body_class = "course_j-hm-course_hairmake"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><a href="">ジェイヘアメイク専攻一覧</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -j">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                    <img src="./assets/img/name_j.png" alt="">
                </picture>
            </div>
        </div>
        <section>
            <div class="j-c-fv">
                <img src="<%- dir %>assets/img/course/aie/j-c-hm-features.png" alt="">
                <div class="j-c-title esthe_bg">
                    <div>
                        <h2>ヘアメイク専攻</h2>
                        <div class="j-c-course">
                            美容師科
                        </div>
                    </div>
                    <img src="<%- dir %>assets/img/course/aie/hair_make.png" alt="">
                </div>
            </div>
            <div class="j-c-info">
                <div class="j-c-info__pic">
                    <img src="<%- dir %>assets/img/course/j/hairmake/fv_23.png" alt="">
                </div>
                <div class="j-c-info__txt">
                    <div class="j-c-info__wp">
                        <h3 class="j-c-h3">めざせる資格
                            <span>QUALIFICATION</span>
                        </h3>
                        <ul class="j-c-wp-list">
                          <li>美容師国家資格</li>
                          <li>CAAメイク検定1級</li>
                          <li>CAAメイク検定2級</li>
                          <li>CAAメイク検定3級</li>
                          <li>プロフェッショナルメイクアップアーティスト資格</li>
                          <li>JECA日本まつ毛エクステンション認定機構安全技師検定</li>
                          <li>JBCAビューティビジネス実務検定3級</li>
                          <li>F.S.A.StylingMap検定 ジュニア</li>
                          <li>JAAアロマコーディネーターライセンス</li>
                          <li>文部科学省後援 色彩検定3級</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="j-c-qualified esthe_bg">
                <div class="j-c-qualified_wrap">
                    <div class="j-c-qualified__txt">
                        <h4>CAAメイク検定</h4>
                        <p>技術力（メイクやパーソナルカラーなど）、知識力（化粧品学や色彩学、コスメ研究など）、販売力（カウンセリング力、行動心理、集客力など）のすべてを備えた「美のスペシャリスト」の即戦力になるための検定。メイクアップアーティスト・メアメイクアーティスト・ビューティアドバイザー・メイクアップカラーアドバイザー・美容師など多岐にわたる職種に活かせる検定です。</p>
                    </div>
                </div>
                <div>
                    <img src="<%- dir %>assets/img/course/j/hairmake/boder_dodts.png" alt="">
                </div>
                <div class="j-c-qualified__txt -second">
                    <h4>日本まつ毛エクステンション認定機構アイデザイナー技能検定<br>安全技術師</h4>
                    <p>
                      多くのアイラッシュサロンがJECA（日本まつ毛エクステンション認定機構）に加盟しています。正しい技術と知識の向上はもちろん、安全・安心・環境保全に配慮ができる信頼されるアイデザイナーを目指すことができます。合格すると、アイデザイナーとしての正しい技術と知識が身についているという証明になり、就職などでも優遇を受けることができます。<br>
                      ＜安全技術師＞<br>
                      ■基本的技能および知識を習得していることが要求されます。</p>
                </div>
            </div>
        </section>
        <section class="j-c-voice j-c-section">
            <div class="j-c-voice__info">
                <h3 class="j-c-h3">学生の声
                    <span>VOICE</span>
                </h3>
                <div class="j-c-voice__name">
                    <p><span>志関  佑華</span>さん</p>
                    <p>千葉県立大原高等学校  出身</p>
                </div>
                <div class="j-c-voice__qa">
                    <dl>
                        <dt>資格を目指してみて</dt>
                        <dd>メイク検定とまつ毛エクステンションの資格取得を目指して頑張りました。最先端のまつエクもしっかり学べます。</dd>
                    </dl>
                    <dl>
                        <dt>ヘアスタイリスト専攻の好きなところは？</dt>
                        <dd>ヘアメイクの他にもブライダルやマツエク など、たくさん学べるところ</dd>
                    </dl>
                </div>
            </div>
            <div class="j-c-voice__pic">
                <img src="<%- dir %>assets/img/course/j/hairmake/j-c-voice.png" alt="インタビューに答える学生">
            </div>
        </section>
        <section class="j-c-curriculum">
            <div class="j-c-curriculum_inner">
                <h3 class="j-c-h3">ヘアメイク専攻のここがすごい！
                    <span>AMAGING POINT</span>
                </h3>
                <div class="j-c-curriculum_inner_content">
                    <div class="shape">
                        <div><img src="<%- dir %>assets/img/course/j/hairmake/shap_bg.png" alt=""></div>
                    </div>
                    <div class="curriculum">
                        <ul class="curriculum_inner">
                            <li>
                                <div>
                                    <img src="<%- dir %>assets/img/course/j/hairmake/amazing_01.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="<%- dir %>assets/img/course/j/hairmake/amazing_02.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="<%- dir %>assets/img/course/j/hairmake/amazing_03.png" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="j-c-features">
            <div class="j-c-section">
                <h3 class="j-c-h3">主なカリキュラム
                    <span>Curriculum</span>
                </h3>
                <div>
                    <p>ヘアとメイク技術を身につけ、トータルで活躍する人材を育成します。人の魅力を最大限に引き出すことができるようブライダルヘアメイクから舞台メイク、特殊メイクまで幅広くメイク技術を学び、自分自身のオリジナリティを磨いていきます。</p>
                </div>
                <div class="j-c-features__list">
                    <div class="esthe_bg">
                        <img src="<%- dir %>assets/img/course/j/hairmake/hairmake_future_img.png" alt="">
                        <dl>
                            <dt>ヘアメイク</dt>
                            <dd>顔立ちや髪質を考慮し、美しく仕上げるテクニックを習得します。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg_d j-c-features-right">
                        <img src="<%- dir %>assets/img/course/j/hairmake/butai_future_img.png" alt="">
                        <dl>
                            <dt>舞台メイク</dt>
                            <dd>アニマル、ピエロ、キャッツなど、舞台で行われるメイク技術です。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg">
                        <img src="<%- dir %>assets/img/course/j/hairmake/specialmake_future_img.png" alt="">
                        <dl>
                            <dt>特殊メイク</dt>
                            <dd>傷、ヤケド、ゾンビメイクなど特殊なメイク技術を学びます。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg_d">
                        <img src="<%- dir %>assets/img/course/j/hairmake/pro_future_img.png" alt="">
                        <dl>
                            <dt>専門知識講座</dt>
                            <dd>医療行為として薬剤の扱い方など基礎知識を学びます。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg j-c-features-right">
                        <img src="<%- dir %>assets/img/course/j/hairmake/fashion_future_img.png" alt="">
                        <dl>
                            <dt>ファッションメイク</dt>
                            <dd>多彩なファッションメイクのテクニックを身につけます。</dd>
                        </dl>
                    </div>
                    <div class="esthe_bg_d">
                        <img src="<%- dir %>assets/img/course/j/hairmake/practice_future_img.png" alt="">
                        <dl>
                            <dt>施術実習</dt>
                            <dd>エクステンションやまつ毛矯正・アイブロウの技術を習得します。</dd>
                        </dl>
                    </div>
                </div>
        </section>
        <section class="j-c-extension">
            <div class="j-c-extension_inner">
                <div class="content">
                    <h3 class="j-c-h3">まつ毛エクステンション
                        <span>Eyelash extensions</span>
                    </h3>
                    <div class="sub_title">
                        <h4>顔の印象を大きく左右するまつ毛ケアのプロフェッショナル、アイデザイナーも目指せます！</h4>
                    </div>
                    <div class="text">
                        <p>まつ毛への施術を通し、美容の最先端のテクニックを身につけることができます。時代を見極めながら技術を高め、カウンセリングを通しお客様の希望通りのイメージへと仕上げていきます。</p>
                    </div>
                    <div class="content_img">
                        <ul>
                            <li>
                                <div>
                                    <img src="<%- dir %>assets/img/course/j/hairmake/extension_img01.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="<%- dir %>assets/img/course/j/hairmake/extension_img02.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>取扱いが大変難しい薬剤を使用し、施術を行うアイデザイナーは国家資格である「美容師免許」が必要となります。</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="j-c-extension_inner_img">
                    <img src="<%- dir %>assets/img/course/j/hairmake/extension_mv.png" alt="">
                </div>
            </div>
        </section>
        <section class="j-c-collaboration">
            <div class="j-c-collaboration_inner">
                <div class="title">
                    <h3 class="j-c-h3">撮影も学べる
                        <span>Photographing</span>
                    </h3>
                </div>
                <div class="content">
                    <div class="content_inner">
                        <div class="img">
                            <img src="<%- dir %>assets/img/course/j/hairmake/corporate.png" alt="">
                        </div>
                        <div class="text">
                            <p>人気の職業でもあるヘアメイクアップアーティストの仕事となるヘアメイクはもちろん、ヘアアレンジや撮影、モデルさんとの接し方等も学ぶことができます。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="j-c-message-all">
            <div class="j-c-message">
                <div class="j-c-message__upper esthe_bg_b esthe_teacher">
                    <img src="<%- dir %>assets/img/course/j/hairmake/j-c-teacher.png" alt="先生からのメッセージ">
                </div>
                <div class="j-c-message__lower esthe_bg">
                    <p class="j-c-message__lowtitle">
                      美容業界のプロフェッショナルを<br class="sp_only">目指しましょう！
                    </p>
                    <p>
                      高校生の皆さんの中には、サロンワークにとどまらず、ヘアメイクアップアーティストやブライダルなどの世界で活躍したいと思っている方も沢山いるのではないでしょうか。ヘアメイク専攻は、幅広い職種がある美容業界の中で、トータルビューティのプロフェッショナルとして仕事をしたいと思っている方にピッタリの資格取得ができるカリキュラムを組んでいます。是非一緒にトータルビューティを学び、プロフェッショナルを目指しましょう！
                    </p>
                </div>
            </div>
            <div class="j-c-message">
                <div class="j-c-message__upper esthe_bg_b esthe_teacher">
                    <img src="<%- dir %>assets/img/course/j/hairmake/j-c-graduate.png" alt="卒業生からのメッセージ">
                </div>
                <div class="j-c-message__lower esthe_bg_d">
                    <p class="j-c-message__lowtitle">
                      サロン運営を通じて<br>接客力が身につきました
                    </p>
                    <p>
                      ジェイが行う学内サロンで、様々な方を接客する機会がありました。業界で働くうえで必要なマナーを身につけお客様との時間を楽しむ会話などが今の仕事に活かせています。
                    </p>
                </div>
            </div>
        </section>
    </main>
</div>


<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>