<%- include('./_config.ejs'); %>

<% title = "よくあるご質問"; %>
<% body_class = "employment_job_faq"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner -w1084">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>
        <ul class="c-col2 js-tabs feature-tabs">
            <li class="c-col2__item">
                <div class="c-wrapper -half -left">
                    <a href="#tab_content_1" class="is-active">
                        <div class="c-schoolname -i">
                            <div class="name">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="./assets/img/name_i_sp.png">
                                    <img src="./assets/img/name_i.png" alt="アイエステ">
                                </picture>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="c-col2__item">
                <div class="c-wrapper -half -right">
                    <a href="#tab_content_2" class="">
                        <div class="c-schoolname -j">
                            <div class="name">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                                    <img src="./assets/img/name_j.png" alt="ジェイヘアメイク">
                                </picture>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="c-col2 -min769">
            <div class="c-col2__item js-tab-content is-active" id="tab_content_1">
                <div class="faq-contents">
                    <div class="c-wrapper -half -left">
                        <div class="faq-contents__list" data-mh="faq_list">
                            <div class="faq-item">
                                <dl>
                                    <dt>質問のテキストが入ります</dt>
                                    <dd>お客様から私を選んでカラーをお任せいただけることは日々光栄だなと思いますし、「色が抜けていく過程も、抜けた後も気に入った」という言葉は、まさに自分が施術するうえで大切にしていることをお客様に実感いただけて嬉しかったですね。</dd>
                                </dl>
                            </div>
                            <div class="faq-item">
                                <dl>
                                    <dt>質問のテキストが入ります</dt>
                                    <dd>お客様から私を選んでカラーをお任せいただけることは日々光栄だなと思いますし、「色が抜けていく過程も、抜けた後も気に入った」という言葉は、まさに自分が施術するうえで大切にしていることをお客様に実感いただけて嬉しかったですね。</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-col2__item js-tab-content" id="tab_content_2">
                <div class="faq-contents -j">
                    <div class="c-wrapper -half -right">
                        <div class="faq-contents__list" data-mh="faq_list" style="background-color: #1a1a1a;">
                            <div class="faq-item">
                                <dl>
                                    <dt>質問のテキストが入ります</dt>
                                    <dd>お客様から私を選んでカラーをお任せいただけることは日々光栄だなと思いますし、「色が抜けていく過程も、抜けた後も気に入った」という言葉は、まさに自分が施術するうえで大切にしていることをお客様に実感いただけて嬉しかったですね。</dd>
                                </dl>
                            </div>
                            <div class="faq-item">
                                <dl>
                                    <dt>質問のテキストが入ります</dt>
                                    <dd>お客様から私を選んでカラーをお任せいただけることは日々光栄だなと思いますし、「色が抜けていく過程も、抜けた後も気に入った」という言葉は、まさに自分が施術するうえで大切にしていることをお客様に実感いただけて嬉しかったですね。</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="common_faq">
            <section class="common-faq">
                <div class="c-wrapper">
                    <div class="c-inner">
                        <div class="common-faq__head">
                            <h2 class="title">
                                <picture>
                                    <img src="./assets/img/employment_job/employment_job_common_title.png" alt="中村学園ビューティコラボレーション">
                                </picture>
                            </h2>
                        </div>
                        <div class="common-faq__list">
                            <div class="faq-item -common">
                                <dl>
                                    <dt>質問のテキストが入ります</dt>
                                    <dd>お客様から私を選んでカラーをお任せいただけることは日々光栄だなと思いますし、「色が抜けていく過程も、抜けた後も気に入った」という言葉は、まさに自分が施術するうえで大切にしていることをお客様に実感いただけて嬉しかったですね。</dd>
                                </dl>
                            </div>
                            <div class="faq-item -common">
                                <dl>
                                    <dt>質問のテキストが入ります</dt>
                                    <dd>お客様から私を選んでカラーをお任せいただけることは日々光栄だなと思いますし、「色が抜けていく過程も、抜けた後も気に入った」という言葉は、まさに自分が施術するうえで大切にしていることをお客様に実感いただけて嬉しかったですね。</dd>
                                </dl>
                            </div>
                            <div class="faq-item -common">
                                <dl>
                                    <dt>質問のテキストが入ります</dt>
                                    <dd>お客様から私を選んでカラーをお任せいただけることは日々光栄だなと思いますし、「色が抜けていく過程も、抜けた後も気に入った」という言葉は、まさに自分が施術するうえで大切にしていることをお客様に実感いただけて嬉しかったですね。</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>