<%- include('./_config.ejs'); %>

<% title = "資格取得"; %>
<% body_class = "employment_job_j_license"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner -w1084">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -j">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                    <img src="./assets/img/name_j.png" alt="ジェイヘアメイク">
                </picture>
            </div>
        </div>
        <section class="content">
            <div class="c-wrapper">
                <div class="c-inner">
                    <h2>美容師国家資格</h2>
                    <section class="content-section">
                        <h3>美容師国家試験合格率</h3>
                        <p>ジェイの国家資格合格率は全国平均を大きく上回り、県内でも上位をキープしています。その理由は、少人数制のジェイだからできる国家資格取得に直結したサポート体制にあります。2020年3月受験時には37名中36名合格後、国家試験永久サポートにより9月に全員合格しています。</p>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ジェイ ヘアメイク美容専門学校</th>
                                    <th>全国平均</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width:auto; background-color: #fff;">2020年3月実施37名中36名合格</th>
                                    <td><strong>97.3%</strong></td>
                                    <td>85.1%</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="content-section">
                        <h3>国家資格取得までの道のり</h3>
                        <p>美容師科は、国が定める厚生労働大臣指定の美容師養成施設です。国家試験を受けるには卒業が受験資格になり、受験は卒業見込みとして在学中に試験が行われます（筆記と実技）。合格発表は卒業後の3月下旬に行われ、合格者は免許申請を行い、交付を受けて晴れて「美容師」になれます。免許は厚生労働大臣免許です。</p>
                        <ul class="process">
                            <li>入学</li>
                            <li>2年間の学び<br>（必修･選択必修）</li>
                            <li>国家資格<br>（実技・筆記）</li>
                            <li>卒業</li>
                            <li>国家資格取得</li>
                        </ul>
                    </section>
                    <section class="content-section">
                        <h3>実技試験</h3>
                        <p>実技試験は第一課題・第二課題・第三課題からなる美容師になる為に必要な基礎技術です。</p>
                        <section class="content-section-item -exam">
                            <div class="content-section-item__col2">
                                <div class="content-section-item__txt">
                                    <h4>第1試験【カット20分】</h4>
                                    <p>レイヤースタイルをつくります。へアスタイルを作るための基礎的技術で、さまざまな技法があります。求めるスタイルを実現させるためには、正確なカッティング技術が要求されます。実技試験は第一課題（カット）・第二課題（セッティング）からなる美容師になる為に必要な基礎技術です。</p>
                                </div>
                                <div class="content-section-item__img">
                                    <img src="./assets/img/employment_job/j_license_exam01.png" alt="">
                                </div>
                            </div>
                        </section>
                        <section class="content-section-item -exam">
                            <h4>第2試験</h4>
                            <p>セッティングの基礎となる、ワインディングとオールウェーブセッティング。国家試験ではカットに加えてワインディングかオールウェーブセッティングのどちらかが出題されます。課題告知は試験実施の約３カ月前に発表されます。</p>
                            <div class="content-section-item__col2B">
                                <section class="content-section-item-child">
                                    <div class="img">
                                        <img src="./assets/img/employment_job/j_license_exam02.png" alt="">
                                    </div>
                                    <h5>ワインディング【20分】</h5>
                                    <p>パーマの基本技術。技術力が必要とされるワインディング。基本となるのはロッドをより早く、よりきれいに巻く事です。20分間で決められたロッドの本数を巻きあげます。</p>
                                </section>
                                <section class="content-section-item-child">
                                    <div class="img">
                                        <img src="./assets/img/employment_job/j_license_exam03.png" alt="">
                                    </div>
                                    <h5>オールウェーブセッティング【25分】</h5>
                                    <p>セッティングの基本技術。セットローションを使い、指とコームで頭毛にウェーブを形成します。様々な技術をマスターすることによって思い通りのヘアスタイルができるようになります。</p>
                                </section>
                            </div>
                        </section>
                        <section class="content-section-item -exam">
                            <h4>第3課題</h4>
                            <p>美容を行う場合の衛生上の取扱い</p>
                        </section>
                    </section>
                    <section class="content-section">
                        <h3>筆記試験</h3>
                        <h4>筆記試験の内容</h4>
                        <p>関係法規・制度、衛生管理、保健、香粧品化学、美容技術理論の中から出題されます。試験は100分50問で60点以上が合格になります。</p>
                        <table>
                            <tbody>
                                <tr>
                                    <th>関係法規・制度</th>
                                    <td>美容業務に関係の深い法令・制度の意義と内容、公衆衛生を担う社会的責任や職業理論等を学びます。</td>
                                </tr>
                                <tr>
                                    <th>衛生管理</th>
                                    <td>美容室における衛生管理、特に感染症に対応する為の消毒の意義や目的を学びます。</td>
                                </tr>
                                <tr>
                                    <th>保健</th>
                                    <td>皮膚や毛髪の人体的組織の構造、機能に関する科学的・系統的知識を、美容技術と関連させ学びます。</td>
                                </tr>
                                <tr>
                                    <th>香粧品化学</th>
                                    <td>美容業を行う上で欠かせない、香粧品を正しく取り扱う上で必要な化学の知識を学びます。</td>
                                </tr>
                                <tr>
                                    <th>文化論</th>
                                    <td>美容の基礎となる美的感覚と表現力を養うため、デザイン・服飾などについて学びます。</td>
                                </tr>
                                <tr>
                                    <th>美容技術理論</th>
                                    <td>美容器具の正しい取り扱い方法と美容の基礎的技術を実際の作業に即して学びます。</td>
                                </tr>
                                <tr>
                                    <th>運営管理</th>
                                    <td>マーケティング、経営管理、労働管理の基本的理念、接客法・消費者対応を学び実践する能力を養います。</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="c-wrapper">
                <div class="c-inner">
                    <h2>JBCAビューティービジネス検定3級</h2>
                    <p>
                        美容に関する健康な身体の知識、ヘアビューティ全般、アイゾーン、ネイル、店販商品などをトータルでアドバイス。さらに、美容室を「トータルできれいになる場所」へと導くことを目指す検定です。<br>
                        また、美容についてのカウンセリングやクレーム対応ができ、サロンの顔としてたくさんのスキルが求められます。<br>
                        顧客心理を学び、お客様のトータルビューティアドバイザーとして、あらゆるニーズにこたえられる人材を育成する資格です。
                    </p>
                    <section class="content-section">
                        <h4>【3級試験内容】</h4>
                        <p>
                            ●ビジネス・コミュニケーション・接客の基本<br>
                            ●ビューティ・コーディネーターの業務 ・基礎美容知識
                        </p>
                    </section>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="c-wrapper">
                <div class="c-inner">
                    <h2>文部科学省後援色彩検定3級</h2>
                    <p>色彩検定では、色の基礎から配色技法(色の組み合わせ方)、専門分野における利用などを幅広く学習します。ヘアカラー・メイクアップを施す上で重要となる色の知識は、ファッション・デザイン・美容など、色に関する業界でのニーズが高く、様々な形で資格を活かすことができます。</p>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="c-wrapper">
                <div class="c-inner">
                    <h2>CAAメイク検定</h2>
                    <p>技術力（メイクやパーソナルカラーなど）、知識力（化粧品学や色彩学、コスメ研究など）、販売力（カウンセリング力、行動心理、集客力など）のすべてを備えた「美のスペシャリスト」の即戦力になるための検定。メイクアップアーティスト・メアメイクアーティスト・ビューティアドバイザー・メイクアップカラーアドバイザー・美容師など多岐にわたる職種に活かせる検定です。</p>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="c-wrapper">
                <div class="c-inner">
                    <h2>JECA日本まつ毛エクステンション認定機構安全技術師検定</h2>
                    <p>
                        多くのアイラッシュサロンがJECA（日本まつ毛エクステンション認定機構）に加盟しています。正しい技術と知識の向上はもちろん、安全・安心・環境保全に配慮ができる信頼されるアイデザイナーを目指すことができます。<br>
                        合格すると、アイデザイナーとしての正しい技術と知識が身に付いているという証明になり、就職などでも優遇を受けることができます。
                    </p>
                    <section class="content-section">
                        <h4>【安全技術師】</h4>
                        <p>
                            ●基本的技能および知識を修得していることが要求されます。
                        </p>
                    </section>
                </div>
            </div>
        </section>
    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>