<%- include('./_config.ejs'); %>

<% title = "資格取得"; %>
<% body_class = "employment_job_aie_license"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner -w1084">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
                </div>
            </div>
        </div>
        <div class="c-schoolname -i">
            <div class="name">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/img/name_i_sp.png">
                    <img src="./assets/img/name_i.png" alt="アイエステ">
                </picture>
            </div>
        </div>
        <section class="license-contents" style="background-color: #d8f2f5;">
            <div class="c-wrapper">
                <div class="c-inner">
                    <div class="license-contents__box">

                        <div class="license-contents__head">
                            <h2 class="title">
                                <span>
                                    アイなら、幅広い取得が可能<br class="u-block--768">だから就職に有利！
                                </span>
                            </h2>
                        </div>
                        <div class="license-contents__list">
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本エステティック業協会</div>
                                        <div class="title__lg">AEA上級認定エステティシャン</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -yellow">エステ</li>
                                    </ul>
                                    <p>高水準の知識や技術、マナーを持つエステティシャンの証明となるライセンス。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本エステティック業協会</div>
                                        <div class="title__lg">AEA認定エステティシャン</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -yellow">エステ</li>
                                        <li class="taglist-item -green">アロマ</li>
                                        <li class="taglist-item -red">メイク</li>
                                        <li class="taglist-item -blue">ブライダル</li>
                                    </ul>
                                    <p>エステティシャンとして必要な基礎知識・技術を身につけた証になるライセンス。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本ネイリスト検定試験センター</div>
                                        <div class="title__lg">JNECネイリスト技能検定1～3級</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -yellow">エステ</li>
                                        <li class="taglist-item -green">アロマ</li>
                                        <li class="taglist-item -red">メイク</li>
                                        <li class="taglist-item -blue">ブライダル</li>
                                        <li class="taglist-item -purple">ネイル</li>
                                    </ul>
                                    <p>サロンで通用するネイルケアやリペア、アートに関する技能や知識を証明。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本ネイリスト協会</div>
                                        <div class="title__lg">JNA認定ネイルサロン 衛生管理士</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -purple">ネイル</li>
                                    </ul>
                                    <p>ネイルサロンの衛生管理に関する知識を証明する資格です。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本ネイリスト協会</div>
                                        <div class="title__lg">JNAジェルネイル技能検定初級～上級</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -blue">ブライダル</li>
                                        <li class="taglist-item -purple">ネイル</li>
                                    </ul>
                                    <p>サロンで中心メニューとなったジェルネイルを施術するために必要な知識・技術の証。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本メイクアップ技術検定協会</div>
                                        <div class="title__lg">日本メイクアップ技術検定1～3級</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -yellow">エステ</li>
                                        <li class="taglist-item -green">アロマ</li>
                                        <li class="taglist-item -red">メイク</li>
                                        <li class="taglist-item -blue">ブライダル</li>
                                        <li class="taglist-item -purple">ネイル</li>
                                    </ul>
                                    <p>スキンケアからメイク、カウンセリングまで国際的に通用するメイクアップ技術を習得したことを証明する資格。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本化粧品検定協会</div>
                                        <div class="title__lg">日本化粧品検定2～3級</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -red">メイク</li>
                                    </ul>
                                    <p>日本化粧品検定は、化粧品・美容に関する知識の向上と普及を目指した検定です。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本ブライダル文化振興協会</div>
                                        <div class="title__lg">ブライダルコーディネート技能検定3級</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -blue">ブライダル</li>
                                    </ul>
                                    <p>ブライダル全体の実務を網羅する全国唯一の認定資格です。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本アロマコーディネーター協会</div>
                                        <div class="title__lg">アロマコーディネーターライセンス</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -yellow">エステ</li>
                                        <li class="taglist-item -green">アロマ</li>
                                        <li class="taglist-item -red">メイク</li>
                                        <li class="taglist-item -blue">ブライダル</li>
                                        <li class="taglist-item -purple">ネイル</li>
                                    </ul>
                                    <p>自然の香りに親しみながら豊かなライフスタイルを提案できる知識を習得した人に与えるライセンス。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本ヒーリングリラクセーション協会</div>
                                        <div class="title__lg">JHRS認定リフレクソロジープロライセンス実技士資格</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -green">アロマ</li>
                                    </ul>
                                    <p>アロマやハーブ等について学びながら確かなリフレクソロジー技術・知識を証明する資格です。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本カラーコーディネーター協会</div>
                                        <div class="title__lg">色彩活用パーソナルカラー検定</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -yellow">エステ</li>
                                        <li class="taglist-item -green">アロマ</li>
                                        <li class="taglist-item -red">メイク</li>
                                        <li class="taglist-item -blue">ブライダル</li>
                                        <li class="taglist-item -purple">ネイル</li>
                                    </ul>
                                    <p>色彩の基本的な知識や配色技能を身につけたことを証明する資格です。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本カラーコディネーター協会</div>
                                        <div class="title__lg">色彩活用ライフケアカラー検定</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -yellow">エステ</li>
                                        <li class="taglist-item -green">アロマ</li>
                                        <li class="taglist-item -blue">ブライダル</li>
                                    </ul>
                                    <p>生活の質を高めるための実践的な配色技術を身につけたことを証明する資格です。</p>
                                </div>
                            </section>
                            <section class="license-item">
                                <div class="license-item__head">
                                    <h3 class="title">
                                        <div class="title__sm">日本ダイエット健康協会</div>
                                        <div class="title__lg">ダイエット検定</div>
                                    </h3>
                                </div>
                                <div class="license-item__body">
                                    <ul class="taglist">
                                        <li class="taglist-item -yellow">エステ</li>
                                    </ul>
                                    <p>健康や体重管理を目的とした食事療法の知識を身につけ、仕事の現場でアドバイスできる能力を証明。</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>