<%- include('./_config.ejs'); %>

<% title = "選ばれる理由"; %>
<% body_class = "feature"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <div class="p-title">
            <div class="c-inner">
                <div class="title"><%- title; %></div>
            </div>
        </div>
        <div class="p-breadcrumb">
            <div class="c-inner -w1084">
                <div class="breadcrumb">
                    <a href="">トップ</a><span>&gt;</span><a href="">学校の特色</a><span>&gt;</span><span>選ばれる理由</span>
                </div>
            </div>
        </div>
        <ul class="c-col2 js-tabs feature-tabs">
            <li class="c-col2__item" style="background-color: #f7f7f7;">
                <div class="c-wrapper -half -left">
                    <a href="#tab_content_1" class="is-active">
                        <div class="c-schoolname -i">
                            <div class="name">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="./assets/img/name_i_sp.png">
                                    <img src="./assets/img/name_i.png" alt="アイエステ">
                                </picture>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="c-col2__item" style="background-color: #1a1a1a;">
                <div class="c-wrapper -half -right">
                    <a href="#tab_content_2" class="">
                        <div class="c-schoolname -j">
                            <div class="name">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
                                    <img src="./assets/img/name_j.png" alt="ジェイヘアメイク">
                                </picture>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="c-col2 -min769">
            <div class="c-col2__item js-tab-content is-active" id="tab_content_1">
                <div id="feature_intro_i">
                    <div class="feature-intro -i  c-relative">
                        <div class="feature-intro__row" style="z-index: 0;">
                            <div class="c-wrapper -half -left">
                                <div class="logo--notxt u-block--768"><img src="<%- dir %>assets/img/i_logo_notxt@3x.png" alt=""></div>
                                <div class="img"><img src="<%- dir %>assets/img/home/i_home_intro_img01@2x.png" alt=""></div>
                                <div class="feature-intro__txt">
                                    <h1 class="txt02">
                                        <img src="./assets/img/home/i_home_intro_txt02@3x.png" alt="最高のキレイを自分にみんなに。">
                                    </h1>
                                    <p>AIEで学ぶ全ての学生が日々キレイになっていきます。</p>
                                    <p>それは、単にエステやメイクの勉強をしているからではなく、<br>“カラダの内側から美しくなる”『インナービューティ』を学んでいるからです。</p>
                                    <p>そしてもうひとつは、いるだけでキレイになれるAIEの施設。<br>五感を刺激する美環境で、AIEがあなたのキレイをサポートします。</p>
                                    <p>私たちは、きっともっとキレイになれる。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="feature-reason_i">
                    <section class="feature-reason -i">
                        <div class="c-wrapper -half -left">
                            <div class="feature-reason__inner">
                                <div class="feature-reason__head">
                                    <h2 class="title">AIEが選ばれるわけ</h2>
                                </div>
                                <div class="feature-reason__row">
                                    <!-- PC表示用 -->
                                    <ul class="feature-reason__list u-none--768">
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img01_i.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">ホスピタリティ<br>美しい心を<br>学ぶ</div>
                                                    <div class="list-item__btn">
                                                        <div class="btn c-btn -blue"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">詳しくみる</span><span class="btn__arrow"></span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img02_i.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">からきめ制度で<br>キレイを<br>まるごと学ぶ</div>
                                                    <div class="list-item__btn">
                                                        <div class="btn c-btn -blue"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">詳しくみる</span><span class="btn__arrow"></span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img03_i.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">最新設備を<br>備えた<br>サロン実習室</div>
                                                    <div class="list-item__btn">
                                                        <div class="btn c-btn -blue"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">詳しくみる</span><span class="btn__arrow"></span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- スマホ表示用 -->
                                    <ul class="feature-reason__list u-block--768">
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img01_i.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">ホスピタリティ<br>美しい心を<br>学ぶ</div>
                                                    <div class="arrow"><img src="./assets/img/arrow_right_blue_internalcss.svg" alt=""></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img02_i.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">からきめ制度で<br>キレイを<br>まるごと学ぶ</div>
                                                    <div class="arrow"><img src="./assets/img/arrow_right_blue_internalcss.svg" alt=""></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img03_i.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">最新設備を<br>備えた<br>サロン実習室</div>
                                                    <div class="arrow"><img src="./assets/img/arrow_right_blue_internalcss.svg" alt=""></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="c-col2__item js-tab-content" id="tab_content_2">
                <div id="feature_intro_j">
                    <div class="feature-intro -j  c-relative">
                        <div class="feature-intro__row" style="z-index: 0;">
                            <div class="c-wrapper -half -right">
                                <div class="logo--notxt u-block--768"><img src="<%- dir %>assets/img/j_logo_notxt@3x.png" alt=""></div>
                                <div class="img"><img src="<%- dir %>assets/img/home/j_home_intro_img01@2x.png" alt=""></div>
                                <div class="feature-intro__txt">
                                    <h1 class="txt02">
                                        <img src="./assets/img/home/j_home_intro_txt02@3x.png" alt="最高のキレイを自分にみんなに。">
                                    </h1>
                                    <p>AIEで学ぶ全ての学生が日々キレイになっていきます。</p>
                                    <p>それは、単にエステやメイクの勉強をしているからではなく、<br>“カラダの内側から美しくなる”『インナービューティ』を学んでいるからです。</p>
                                    <p>そしてもうひとつは、いるだけでキレイになれるAIEの施設。<br>五感を刺激する美環境で、AIEがあなたのキレイをサポートします。</p>
                                    <p>私たちは、きっともっとキレイになれる。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="feature-reason_j">
                    <section class="feature-reason -j">
                        <div class="c-wrapper -half -right">

                            <div class="feature-reason__inner">
                                <div class="feature-reason__head">
                                    <h2 class="title">ジェイが選ばれるわけ</h2>
                                </div>
                                <div class="feature-reason__row">
                                    <!-- PC用表示 -->
                                    <ul class="feature-reason__list u-none--768">
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img01_j.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">最短でスタイリスト<br>デビューが目指せる！</div>
                                                    <div class="list-item__btn">
                                                        <div class="btn c-btn -red"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">詳しくみる</span><span class="btn__arrow"></span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img02_j.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">全国屈指！<br>充実の設備</div>
                                                    <div class="list-item__btn">
                                                        <div class="btn c-btn -red"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">詳しくみる</span><span class="btn__arrow"></span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img03_j.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">高い就職率&amp;<br>国家試験合格率</div>
                                                    <div class="list-item__btn">
                                                        <div class="btn c-btn -red"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">詳しくみる</span><span class="btn__arrow"></span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- スマホ用表示 -->
                                    <ul class="feature-reason__list u-block--768">
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img01_j.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">最短でスタイリスト<br>デビューが目指せる！</div>
                                                    <div class="arrow"><img src="./assets/img/arrow_right_red_internalcss.svg" alt=""></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img02_j.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">全国屈指！<br>充実の設備</div>
                                                    <div class="arrow"><img src="./assets/img/arrow_right_red_internalcss.svg" alt=""></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="list-item__inner">
                                                <div class="list-item__img">
                                                    <img src="./assets/img/feature/feature_reason_img03_j.png" alt="">
                                                </div>
                                                <div class="list-item__txt">
                                                    <div class="txt">高い就職率&amp;<br>国家試験合格率</div>
                                                    <div class="arrow"><img src="./assets/img/arrow_right_red_internalcss.svg" alt=""></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="feature_collab">
            <section class="feature-collab">
                <div class="feature-collab__wrapper c-wrapper -full">

                    <div class="c-inner -w1084">
                        <div class="feature-collab__head">
                            <h2 class="title">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="./assets/img/feature/feature_collab_title_sp.png">
                                    <img src="./assets/img/feature/feature_collab_title_pc.png" alt="中村学園ビューティコラボレーション">
                                </picture>
                            </h2>
                            <p>姉妹校とのビューティコラボレーション。<br>それぞれの専門性を活かし、美容体験と学びの交流を実施します。</p>
                        </div>
                        <div class="feature-collab__row">
                            <div class="feature-collab__col2--min769">
                                <div class="feature-collab__img">
                                    <img src="./assets/img/feature/feature_collab_img.png" alt="">
                                </div>
                                <div class="feature-collab__txt">
                                    <p>アイではエステにネイル、ジェイではシャンプーやヘッドスパなど、それぞれの専門的な学びを活かし、学内サロンではお互いにお客様として施術していきます。<br>技術披露と接客スキルの向上を目指します。<br>ブライダルやハロウィンなどテーマを決めて、AIE＋Jの学生でメイクとヘアアレンジなどをお互いに協力してトータルビューティプロデュースをするイベントも行います。<br>美容分野の魅力と理解を深めていきます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>