<%- include('./_config.ejs'); %>

<% title = "中村学園グループのご紹介"; %>
<% body_class = "feature_group"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
	<main class="l-main">
		<div class="p-title">
			<div class="c-inner -w1084">
				<div class="title"><%- title; %></div>
			</div>
		</div>
		<div class="p-breadcrumb">
			<div class="c-inner -w1084">
				<div class="breadcrumb">
					<a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
				</div>
			</div>
		</div>

		<div class="intro_catch">
			<div class="col2">
				<div class="col2_l">
					<p><span class="highlight fwb">ホスピタリティ教育73年。<br>千葉から多くの卒業生を第一線へ</span></p>
					<p>
						洋裁の技術指導に端を発する中村学園は1947年の設立から現在に至るまで、ホテル・観光・動植物・美容・製菓など各分野の専門学校を開校し、多くの卒業生を業界の第一線に送り出してきました。時代とともに教育の多様化に取り組んできた当学園ですが、「技術を身に付け、社会に貢献し、相手の立場が理解できるホスピタリティ精神を熟成する」という教育の基本精神は変わっておりません。これからも学びの環境を整え、専門教育指導のさらなる充実を図り、学生にとって「明るく 楽しく 元気良く」をモットーに充実した学園生活を送る事が出来る専門学校を目指してまいります。
					</p>
				</div>
				<div class="col2_r">
					<img src="<%- dir %>assets/img/feature_group/feature_group_riji.png" alt="中村学園理事長　中村洋子">
				</div>
			</div>
		</div>

		<div class="intro_ngroup">
			<p class="heading_b"><span >中村学園グループのご紹介</span></p>
			<div class="col2">
				<div class="col2_l">
					<img src="<%- dir %>assets/img/feature_group/feature_group_i01.jpg" alt="国際トラベル・ホテル・ブライダル専門学校">
				</div>
				<div class="col2_r">
					<p class="ttl">国際トラベル・ホテル・ブライダル専門学校</p>
					<p>
						旅行、鉄道、ホテル、ブライダル、空港など観光業界のプロを目指す専門学校。技術、知識はもちろん、世界に通用するおもてなしの精神が身につきます。<br><br>

						住所：〒260-0021 千葉県千葉市中央区新宿2-11-12<br>
						<a href="tel:0120-256-118">0120-256-118</a><br>
						<a href="https://www.ithb.ac.jp/">https://www.ithb.ac.jp/</a>
					</p>
				</div>
			</div>
			<div class="col2">
				<div class="col2_l">
					<img src="<%- dir %>assets/img/feature_group/feature_group_i02.jpg" alt="国際トラベル・ホテル・ブライダル専門学校">
				</div>
				<div class="col2_r">
					<p class="ttl">専門学校ちば愛犬動物フラワー学園</p>
					<p>
						トリマー･動物看護･ドッグトレーナー･フローリストなど動物･植物のプロを目指す専門学校。多種多様な動物を学校で飼育しています。<br><br>

						住所：〒260-0021 千葉県千葉市中央区新宿2-14-13<br>
						<a href="tel:0120-760-129">0120-760-129</a><br>
						<a href="https://www.aik.ac.jp/">https://www.aik.ac.jp/</a>
					</p>
				</div>
			</div>
			<div class="col2">
				<div class="col2_l">
					<img src="<%- dir %>assets/img/feature_group/feature_group_i03.jpg" alt="国際トラベル・ホテル・ブライダル専門学校">
				</div>
				<div class="col2_r">
					<p class="ttl">アイ エステティック専門学校</p>
					<p>
						エステ、ネイル、アロマなどトータルビューティを学ぶ専門学校。ホスピタリティ教育の本質を通じて、真のスキルを身につけます。<br><br>

						住所：〒260-0021 千葉県千葉市中央区新宿2-14-3<br>
						<a href="tel:0120-461-901">0120-461-901</a><br>
						<a href="https://aie.ac.jp/">https://aie.ac.jp/</a>
					</p>
				</div>
			</div>
			<div class="col2">
				<div class="col2_l">
					<img src="<%- dir %>assets/img/feature_group/feature_group_i04.jpg" alt="国際トラベル・ホテル・ブライダル専門学校">
				</div>
				<div class="col2_r">
					<p class="ttl">ジェイ ヘアメイク美容専門学校</p>
					<p>
						美容師のプロを目指す人のための専門学校です。「技術力」「接客力」「創造力」の３つを兼ね備えたプロを育成します。<br><br>

						住所：〒260-0021 千葉県千葉市中央区新宿2-14-3<br>
						<a href="tel:0800-800-1434">0800-800-1434</a><br>
						<a href="https://j-hm.jp/">https://j-hm.jp/</a>
					</p>
				</div>
			</div>
			<div class="col2">
				<div class="col2_l">
					<img src="<%- dir %>assets/img/feature_group/feature_group_i05.jpg" alt="国際トラベル・ホテル・ブライダル専門学校">
				</div>
				<div class="col2_r">
					<p class="ttl">ハッピー製菓調理専門学校</p>
					<p>
						千葉県で唯一「製菓衛生師」を在学中に受験可能な専門学校。製菓、製パンの技術、知識と食品衛生について学んでいきます。<br><br>

						住所：〒260-0021　千葉県千葉市中央区新宿2-11-2<br>
						<a href="tel:0800-800-3281">0800-800-3281</a><br>
						<a href="https://happy-sweets.jp/">https://happy-sweets.jp/</a>
					</p>
				</div>
			</div>
			<div class="col2">
				<div class="col2_l">
					<img src="<%- dir %>assets/img/feature_group/feature_group_i06.jpg" alt="国際トラベル・ホテル・ブライダル専門学校">
				</div>
				<div class="col2_r">
					<p class="ttl">ズー・フォニックス・アカデミー千葉校</p>
					<p>
						幼児･児童のための英語スクールです。外国人教師の完全英語によるレッスンで豊かな表現力と国際感覚を身につけることができます。<br><br>

						住所：〒260-0021 千葉市中央区新宿2-13-10<br>
						<a href="tel:0120-026-081">0120-026-081</a><br>
						<a href="http://zoo-chiba.jp/index.html/">http://zoo-chiba.jp/index.html/</a>
					</p>
				</div>
			</div>
		</div>

		<div class="intro_nhistory">
			<p class="heading_b"><span >中村学園グループの歩み</span></p>
			<div class="intro_nhistory_inner">
				<dl>
					<dt>1947年12月22日</dt>
					<dd>「中村洋裁研究所」開所。</dd>
				</dl>
				<dl>
					<dt>1948年</dt>
					<dd>GHQに学校の公認を申請。千葉県知事の公認となる。</dd>
				</dl>
				<dl>
					<dt>1951年</dt>
					<dd>財団法人中村学園として発足、中村ドレスメーカー女学院。</dd>
				</dl>
				<dl>
					<dt>1966年</dt>
					<dd>学校法人中村学園として認可、旧1号館校舎が竣工。</dd>
				</dl>
				<dl>
					<dt>1976年</dt>
					<dd>専修学校認可により中村ドレスメーカー専門学院に校名変更。</dd>
				</dl>
				<dl>
					<dt>1977年</dt>
					<dd>現在の6号館中村学園ビル7階建が完成。</dd>
				</dl>
				<dl>
					<dt>1985年</dt>
					<dd>学校法人森谷学園と教育提携を行い旅行科の設置を計画。</dd>
				</dl>
				<dl>
					<dt>1987年</dt>
					<dd>校名を国際トラベル・モード専門学校と改め、旅行科を新設。</dd>
				</dl>
				<dl>
					<dt>1988年</dt>
					<dd>国際女子ビジネス専門学校と国際トラベル・ホテル専門学校の2校に分離。新校舎3号館が竣工。</dd>
				</dl>
				<dl>
					<dt>1993年</dt>
					<dd>国際女子ビジネス専門学校をCIB国際ビジネス専門学校に変更。</dd>
				</dl>
				<dl>
					<dt>1996年</dt>
					<dd>GHQに学校の公認を申請。千葉県知事の公認となる。</dd>
				</dl>
				<dl>
					<dt>1997年</dt>
					<dd>ちば愛犬動物学園を認可外機関として（株）ナカムラに設立。</dd>
				</dl>
				<dl>
					<dt>1999年</dt>
					<dd>CIBを閉校。専門学校ちば愛犬動物学園を認可校として開校。</dd>
				</dl>
				<dl>
					<dt>2000年</dt>
					<dd>株式会社ナカムラに「ちば留学センター」を開設。</dd>
				</dl>
				<dl>
					<dt>2002年</dt>
					<dd>専門学校ちば愛犬動物学園の実習校舎として5号館を購入。</dd>
				</dl>
				<dl>
					<dt>2003年</dt>
					<dd>専門学校ちば愛犬動物学園のおゆみ野教室の実習棟を竣工。</dd>
				</dl>
				<dl>
					<dt>2004年</dt>
					<dd>専門学校ちば愛犬動物学園に約1万坪の長柄実習場を竣工。</dd>
				</dl>
				<dl>
					<dt>2006年</dt>
					<dd>
						専門学校ちば愛犬動物学園に新1号館千葉校舎を竣工。<br>
						国際トラベル・ホテル専門学校の付帯事業としてズーフォニックスアカデミー千葉校を開設。幼児の英語教育を開始
					</dd>
				</dl>
				<dl>
					<dt>2007年</dt>
					<dd>国際トラベル・ホテル専門学校に8号館新校舎が竣工。3号館を利用してアイ エステティック専門学校を開校。</dd>
				</dl>
				<dl>
					<dt>2009年</dt>
					<dd>ズーフォニックスアカデミー千葉校が認可外として独立。</dd>
				</dl>
				<dl>
					<dt>2013年</dt>
					<dd>新総合校舎9階建Ｎタワーが完成。</dd>
				</dl>
				<dl>
					<dt>2014年</dt>
					<dd>ハッピースイーツ製菓専門学校を開校。</dd>
				</dl>
				<dl>
					<dt>2019年</dt>
					<dd>ハッピー製菓調理専門学校に校名変更。</dd>
				</dl>
			</div>
		</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>