<%- include('./_config.ejs'); %>

<% title = "保護者の方へ"; %>
<% body_class = "guardian"; %>

<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
	<main class="l-main">
		<div class="p-title">
			<div class="c-inner -w1084">
				<div class="title"><%- title; %></div>
			</div>
		</div>
		<div class="p-breadcrumb">
			<div class="c-inner -w1084">
				<div class="breadcrumb">
					<a href="">トップ</a><span>&gt;</span><span><%- title; %></span>
				</div>
			</div>
		</div>

		<div class="introduction">
			<dl class="clearfix">
				<dt>学校法人 中村学園について</dt>
				<dd class="text">アイエステティック専門学校、ジェイヘアメイク美容専門学校の運営母体である“学校法人中村学園”は、創立以来73年にわたり、常に時代の変化に対応出来る専門学校として、各業界のスペシャリストとしてのハイレベルなスキルとホスピタリティ精神を備えた人材の育成を行い、多くの卒業生を社会に送り出して参りました。<br><br>現在では、『アイエステティック専門学校』 『専門学校ちば愛犬動物フラワー学園』 『国際トラベル・ホテル・ブライダル専門学校』『ハッピー製菓調理専門学校』『ジェイヘアメイク美容専門学校』の5校で、学生達が集い自分たちの希望を胸に抱きながら毎日目標に向かって頑張っております。</dd>
				<dd class="img"><img src="./assets/img/guardian/guardian_img01.png" alt=""></dd>
			</dl>
			<ul class="button_list clearfix">
				<li><a href="">理事長の挨拶</a></li>
				<li><a href="">学校長の挨拶</a></li>
				<li><a href="">情報公開（アイエステ）</a></li>
				<li><a href="">情報公開（ジェイヘアメイク）</a></li>
			<ul>
		</div>

		<ul class="c-col2 js-tabs guardian-tabs">
			<li class="c-col2__item">
				<div class="c-wrapper -half -left">
					<a href="#tab_content_1" class="is-active">
						<div class="c-schoolname -i">
							<div class="name">
								<picture>
									<source media="(max-width: 768px)" srcset="./assets/img/name_i_sp.png">
									<img src="./assets/img/name_i.png" alt="アイエステ">
								</picture>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="c-col2__item" style="background-color: #1a1a1a;">
				<div class="c-wrapper -half -right">
					<a href="#tab_content_2" class="">
						<div class="c-schoolname -j">
							<div class="name">
								<picture>
									<source media="(max-width: 768px)" srcset="./assets/img/name_j_sp.png">
									<img src="./assets/img/name_j.png" alt="ジェイヘアメイク">
								</picture>
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>

		<div class="c-col2 -min769">
			<div class="c-col2__item js-tab-content is-active" id="tab_content_1">
				<div id="guardian_intro_i">
					<div class="guardian-intro -i">
						<div style="z-index: 0;">
							<div class="c-wrapper -half -left">
								<dl>
									<dt>アイエステティック専門学校の特長1</dt>
									<dt>全国トップクラスの就職率と国家資格合格率</dt>
									<dd>本校では、身なりやメイク・髪型まで細かく指導する面接練習や、卒業生の先輩が来校して実際のお仕事の内容や美容業界で働くことの魅力などを話してくれる卒業生トークイベントなど就職サポートも充実しています。また「AEA上級認定エステティシャン資格」や「JHRS認定リフレクソロジー・プロライセンス実技士資格」など高い合格率を誇っています。</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<section class="guardian-content -i">
					<div class="c-wrapper -half -left">
						<div class="content_label">
							<p>就職実績</p>
							<div class="img01"><img src="./assets/img/guardian/guardian-i_img01.png" alt=""></div>
						</div>
						<ul class="content_list">
							<li>
								<dl>
									<dt>エステ系</dt>
									<dd>ＴＢＣグループ株式会社／株式会社不二ビューティ／ソシエ／ミス・パリ／エルセーヌ／スリムビューティハウス／ラ・パルレ／ミュゼプラチナム／シーボン／EBM／アップルマインド／コンプレックス・ビズ・インターナショナル／ルミエ・パリ／ＰＭＫ／ブリアント／気エステティックイヴ／nakire／リフィート／Pico／ナノスリム／シロノクリニック／エスティオ／グレース／ エステココ／ビギ スイート／グランモア／ル・ソニア／ジェイエステティック／銀座カラー e tc..</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>リラクゼーション系</dt>
									<dd>テルムマラン パシフィーク／カイラリジャパン／ハウス オブ ローゼ／DHC赤沢スパ／ボディワーク／コンプレックス・ビズ・インターナショナル／ベアハグ／モンサンミッシェル／株式会社オリーブスパ／ガブルス・ジャパン株式会社／ 株式会社ホスピタリティ リフレ／スカイゲイト株式会社／L AVA／アロマブルーム／森ビルホスピタリティコーポレーション／箱根吟遊／株式会社ザ・デイ・スパ etc..</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>メイク系</dt>
									<dd>シャネル／エスティ ローダー／ランコム／イヴ・サンローラン／キールズ／ボビイ ブラウン／アルビオン／ 資生堂ジャパン／株式会社コーセー／カネボウ化粧品／シュウウエムラ／ マックスファクター／エリザベスアーデン／ドクターシーラボ／花王／マリークヮント／クリニーク／DHC／イサミヤ／シーボン／ロクシタン／アディクション／スリー／ザ・ボディショップ／イプサ／ちふれ／オルビス／株式会社エキップ／オルビス etc..</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>ブライダルビューティ系</dt>
									<dd>
										<span>式場・挙式</span><br>ディアーズ・ブレイン／シェラトン・グランデ・トーキョーベイ・ホテル／オフィースマリアージュ／アドリアーナ<br><br>
										<span>ジュエリー</span><br>4℃ BRIDAL／ベリテ／ヴァンドームヤマダ<br><br>
										<span>衣装</span><br>丸三屋／アクア・グラツィエ／曽我／ウエディングボックス／いつ和<br><br>
										<span>フォト</span><br>アンズガーデン／ティア／O N E S T Y LE／タメニーアートワークス／Pilgrim／SAIKA／株式会社ジョイフルまるやま<br><br>
										<span>その他</span><br>日比谷花壇／アンダンテ
									</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>ネイル系</dt>
									<dd>カキモトアームズ／株式会社ウカ／ネイルクイック／レッドネイルズ／ライフビューティー／M.SLASH／VINGT NAIL／ダッシングディバ／ネイルガール／marno／スウィーティーネイル／ネイルモア／ラウンジ／ビューマインド／ネイルズユニークオブジャパン／ソシエ／ナイスネイル etc...</dd>
								</dl>
							</li>
						</ul>
						<div class="content_label">
							<p>資格取得実績</p>
						</div>
						<ul class="content_list col3 clearfix">
							<li>
								<dl>
									<dt>AEA 上級認定<br>エステティシャン資格</dt>
									<dd><img src="./assets/img/guardian/guardian-i_img02.png" alt=""><br>2020年1月実施実績（30名中30名）<br>全国平均 85％</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>JHRS 認定リフレクソロジー・<br>プロライセンス実技士資格</dt>
									<dd><img src="./assets/img/guardian/guardian-i_img03.png" alt=""><br>2019年7月実施実績（9名中9名）</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>日本メイクアップ技術<br>検定2 級</dt>
									<dd><img src="./assets/img/guardian/guardian-i_img04.png" alt=""><br>2020年8月実施実績（26名中24名）<br>全国平均 54.3％</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>ブライダルコーディネート<br>技能検定3 級</dt>
									<dd><img src="./assets/img/guardian/guardian-i_img05.png" alt=""><br>2019年1月実施実績（9名中9名）<br>全国平均75.5％</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>JNECネイリスト<br>技能検定2級</dt>
									<dd><img src="./assets/img/guardian/guardian-i_img06.png" alt=""><br>2019年4月実施実績（12名中12名）<br>全国平均48.5％</dd>
								</dl>
							</li>
						</ul>
						<ul class="button_list01 clearfix">
							<li><a href="">就職サポート</a></li>
							<li><a href="">資格取得</a></li>
							<li><a href="">活躍する卒業生</a></li>
						</ul>
					</div>
					<div class="guardian-intro -i">
						<div style="z-index: 0;">
							<div class="c-wrapper -half -left">
								<dl>
									<dt>アイエステティック専門学校の特長2</dt>
									<dt>自分の道を選べる5つの専攻と<br class="pc_only">入学半年後に専攻を決める「からきめ制度」。</dt>
									<dd>知識や技術と共に、卒業後も活かしていける「美しい人生を創る生活習慣」を身につけ人としての成長をすることができる5つの専攻から自分の道を選べます。</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="c-wrapper -half -left">
						<ul class="button_list02 clearfix">
							<li><a href="">エステティシャン専攻</a></li>
							<li><a href="">アロマ&セラピスト専攻</a></li>
							<li><a href="">メイクアップアーティスト専攻</a></li>
							<li><a href="">ブライダルビューティ専攻</a></li>
							<li><a href="">ネイリスト専攻</a></li>
						</ul>
						<p class="text01">入学から半年間、インナービューティプログラムでキレイを全て学びます。半年間で、やりたいこと・進みたい道がハッキリ見つけ、そこからコースを選択する「からきめ制度」で、ミスマッチを少なく学びたい方向へと導いていきます。</p>
						<ul class="image_list01 clearfix">
							<li class="color01"><img src="./assets/img/guardian/guardian-i_img07.png" alt=""><span>エステ</span></li>
							<li class="color06"><img src="./assets/img/guardian/guardian-i_img08.png" alt=""><span>マナー</span></li>
							<li class="color04"><img src="./assets/img/guardian/guardian-i_img09.png" alt=""><span>ブライダルビューティ</span></li>
							<li class="color06"><img src="./assets/img/guardian/guardian-i_img10.png" alt=""><span>ホスピタリティ</span></li>
							<li class="color03"><img src="./assets/img/guardian/guardian-i_img11.png" alt=""><span>ヘアアレンジ</span></li>
							<li class="color03"><img src="./assets/img/guardian/guardian-i_img12.png" alt=""><span>メイクアップ</span></li>
							<li class="color05"><img src="./assets/img/guardian/guardian-i_img13.png" alt=""><span>ネイル</span></li>
							<li class="color02"><img src="./assets/img/guardian/guardian-i_img14.png" alt=""><span>リフレクソロジー</span></li>
							<li class="color01"><img src="./assets/img/guardian/guardian-i_img15.png" alt=""><span>フード＆デトックス</span></li>
							<li class="color02"><img src="./assets/img/guardian/guardian-i_img16.png" alt=""><span>アロマセラピー</span></li>
							<li class="color02"><img src="./assets/img/guardian/guardian-i_img17.png" alt=""><span>ヨガ・ピラティス</span></li>
						</ul>
						<div class="button_list03 clearfix">
							<a href="">からきめ制度</a>
						</div>
					</div>
					<div class="guardian-intro -i">
						<div style="z-index: 0;">
							<div class="c-wrapper -half -left">
								<dl>
									<dt>アイエステティック専門学校の特長3</dt>
									<dt>自力での進学も可能とする独自の学費サポート</dt>
									<dd>本校では、自力での進学も可能とする独自の学費サポート制度を用意し、お子様の夢の実現を経済面でもバックアップいたします。（※特待生制度や他の学費プランとの併用も可能です。）</dd>
								</dl>
								<div class="flex_wrap">
									<ul>
										<li><span>●</span>日本学生支援機構 奨学金（卒業後返済）</li>
										<li><span>●</span>その他の教育ローン</li>
										<li><span>●</span>高等教育の修学支援新制度<br>（入学金・授業料減免及び給付型奨学金）</li>
										<li><span>●</span>学生の人身事故に対する保険制度</li>
										<li><span>●</span>学費分納制度</li>
										<li><span>●</span>通学定期・学生割引</li>
										<li><span>●</span>日本政策金融公庫</li>
										<li><span>●</span>卒業生・在校生弟妹優遇制度</li>
										<li><span>●</span>ひとり暮らし応援制度（返済不要）</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="c-wrapper -half -left">
						<ul class="button_list01 border_none clearfix">
							<li><a href="">学費サポート</a></li>
							<li><a href="">学費</a></li>
						</ul>
					</div>
				</section>
			</div>

			<div class="c-col2__item js-tab-content" id="tab_content_2">
				<section class="guardian-content -j">
					<div class="c-wrapper -half -right">
						<div class="guardian-intro -j">
							<div style="z-index: 0;">
								<div class="c-wrapper -half -right">
									<dl>
										<dt>ジェイヘアメイク美容専門学校の特長1</dt>
										<dt>全国トップクラスの就職率と美容師国家資格合格率</dt>
										<dd>本校では、美容のプロから直接業界や企業等の情報を聞ける就職ガイダンスやサロン訪問、卒業してからも続く企業紹介支援制度「ジェイターンサポート」など就職サポートが充実しています。また2020年の美容師科の国家試験合格率は97.3％と全国平均を大きく上回っています。</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="content_wrap01 pc_only">
							<ul class="flex01">
								<li>
									<img src="./assets/img/guardian/guardian-j_img01.png" alt="" class="j_img01"><br>
									2020年3月卒業生37名<br>就職希望者35名中35名就職・内定
								</li>
								<li>
									<img src="./assets/img/guardian/guardian-j_img02.png" alt="" class="j_img02"><br>
									2020年3月実施　37名中36名合格<br>［全国平均85.1%］
								</li>
							</ul>
							<ul class="flex02">
								<li>
									<span>就職実績</span><br>TONI&GUY／AFLOAT／MINX／OCEAN TOKYO／FORS A N D O／a p h i l o s／ ㈱D u・P a y／A N Y／ G U L G U L ／A s h ／ V I S A G E C R E AT I O N ／a L- t e r／ ㈱デイバイデイ／JAGARA／each／㈱KINGS／ORANGE POP／Lecheveu／PRIMAL／fleur／Wiz／hair brace／confiance／Lapis／PIAS／アイラッシュサロン ブラン　etc...
								</li>
								<li>
									ジェイの国家資格合格率は全国平均を大きく上回り、県内でも上位をキープしています。その理由は、少人数制のジェイだからできる国家資格取得に直結したサポート体制にあります。2020年3月受験時には37名中36名合格後、国家試験永久サポートにより9月に全員合格しています。
								</li>
							</ul>
						</div>
						<div class="content_wrap01_sp sp_only">
							<ul>
								<li>
									<img src="./assets/img/guardian/guardian-j_img01.png" alt="" class="j_img01"><br>
									2020年3月卒業生37名<br>就職希望者35名中35名就職・内定
									<p>
										<span>就職実績</span><br>TONI&GUY／AFLOAT／MINX／OCEAN TOKYO／FORS A N D O／a p h i l o s／ ㈱D u・P a y／A N Y／ G U L G U L ／A s h ／ V I S A G E C R E AT I O N ／a L- t e r／ ㈱デイバイデイ／JAGARA／each／㈱KINGS／ORANGE POP／Lecheveu／PRIMAL／fleur／Wiz／hair brace／confiance／Lapis／PIAS／アイラッシュサロン ブラン　etc...
									</p>
								</li>
								<li>
									<img src="./assets/img/guardian/guardian-j_img02.png" alt="" class="j_img02"><br>
									2020年3月実施　37名中36名合格<br>［全国平均85.1%］
									<p>
										ジェイの国家資格合格率は全国平均を大きく上回り、県内でも上位をキープしています。その理由は、少人数制のジェイだからできる国家資格取得に直結したサポート体制にあります。2020年3月受験時には37名中36名合格後、国家試験永久サポートにより9月に全員合格しています。
									</p>
								</li>
							</ul>
						</div>
						<ul class="content_button01 clearfix">
							<li><a href="">就職サポート</a></li>
							<li><a href="">資格取得</a></li>
							<li><a href="">活躍する卒業生</a></li>
						</ul>
						<div class="guardian-intro -j">
							<div style="z-index: 0;">
								<div class="c-wrapper -half -right">
									<dl>
										<dt>ジェイヘアメイク美容専門学校の特長2</dt>
										<dt>自分の道を選べる2つの専攻と<br class="pc_only">最短でスタイリストデビューが目指せる<br class="pc_only">オリジナルカリキュラム</dt>
										<dd>ヘアに関わる最新技術･センスを身につけて、サロンで活躍できる人材を育成する「ヘアスタイリスト専攻」、ヘアとメイク技術を身につけ、トータルで活躍する人材を育成する「ヘアメイク専攻」の2つの専攻から自分の道を選べます。</dd>
									</dl>
								</div>
							</div>
						</div>
						<ul class="content_button02 clearfix">
							<li><a href=""><span>ヘアスタイリスト専攻</span></a></li>
							<li><a href=""><span>ヘアメイク専攻</span></a></li>
						</ul>
						<p class="content_text01">
							在学中にアシスタント業務を授業の中で学ぶことができます。現場で即戦力となって働くため、美容室で行っている新人教育をJBA(日本美容師連盟)との連携授業の中で学ぶことができます。
						</p>
						<div class="j_img05">
							<img src="./assets/img/guardian/guardian-j_img05.png" alt="">
						</div>
						<p class="content_text01">
							またイギリス・ロンドンを中心にアメリカ・ヨーロッパ・アジア・オーストラリアなど世界58カ国626店舗以上を超えるサロンを展開し、国際的な活動をしている「TONI & GUY」。1984年、TONI&GUY JAPANが創立され、イギリス本部の教育システムを、アジア人の髪質や文化に合わせてアレンジしたTONI&GUYアカデミーのカリキュラムを広め、全国の美容師から高く評価されています。これからの時代にふさわしいスペシャリスト育成教育を実施しています。
						</p>
						<ul class="content_button01 clearfix">
							<li><a href="">最短スタイリストデビュー</a></li>
							<li><a href="">TONI&GUY</a></li>
						</ul>
						<div class="guardian-intro -j">
							<div style="z-index: 0;">
								<div class="c-wrapper -half -right">
									<dl>
										<dt>ジェイヘアメイク美容専門学校の特長3</dt>
										<dt>自力での進学も可能とする独自の学費サポート</dt>
										<dd>本校では、自力での進学も可能とする独自の学費サポート制度を用意し、お子様の夢の実現を経済面でもバックアップいたします。<br>※特待生制度や他の学費プランとの併用も可能です。</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="content_text02">
							<ul>
								<li>●日本学生支援機構 奨学金（卒業後返済）</li>
								<li>●その他の教育ローン</li>
								<li>●高等教育の修学支援新制度<br>（入学金・授業料減免及び給付型奨学金）</li>
								<li>●学生の人身事故に対する保険制度</li>
								<li>●学費分納制度</li>
								<li>●通学定期・学生割引</li>
								<li>●日本政策金融公庫</li>
								<li>●卒業生・在校生弟妹優遇制度</li>
								<li>●ひとり暮らし応援制度（返済不要）</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>

    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>