<%- include('./_config.ejs'); %>

<% dir = "./" %>
<% title = "トップページ" %>
<% body_class = "j-top" %>


<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <section class="mv">
            <div class="mv_wrap">
                <div class="slider_wrap">
                    <ul class="slider aie_slider">
                        <li class="aie_slider_item">
                            <div class="img">
                                <div class="pc_only">
                                    <img src="<%- dir %>assets/img/j-top/mv001@3x.png" alt="">
                                </div>
                                <div class="sp_only">
                                    <img src="<%- dir %>assets/img/j-top/sp/mv001@3x.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="aie_slider_item">
                            <div class="img">
                                <div class="pc_only">
                                    <img src="<%- dir %>assets/img/j-top/mv003@3x.png" alt="">
                                </div>
                                <div class="sp_only">
                                    <img src="<%- dir %>assets/img/j-top/sp/mv001@3x.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="aie_slider_item">
                            <div class="img">
                                <div class="pc_only">
                                    <img src="<%- dir %>assets/img/j-top/mv002@3x.png" alt="">
                                </div>
                                <div class="sp_only">
                                    <img src="<%- dir %>assets/img/j-top/sp/mv001@3x.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="school_concept">
            <div class="school_concept_wrap">
                <div class="concept_title -aie">
                    <h2 class="concept">なりたい美容師になる</h2>
                </div>
                <div class="concept_img -aie">
                    <div class="concept_img_wrap">
                        <img class="pc_only" src="<%- dir %>/assets/img/j-top/shool_concept@3x.png" alt="">
                        <img class="sp_only" src="<%- dir %>/assets/img/j-top/sp/shool_concept@3x.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="about_wrap">
                <div class="contents">
                    <div class="contents_img">
                        <img class="pc_only" src="<%- dir %>/assets/img/j-top/about_j@3x.png" alt="">
                        <img class="sp_only" src="<%- dir %>/assets/img/j-top/sp/about_j@3x.png" alt="">
                    </div>
                    <div class="contents_item">
                        <div class="contents_item_title">
                            <h2>
                                <img class="pc_only" src="<%- dir %>/assets/img/j-top/about_title@3x.png" alt="">
                                <img class="sp_only" src="<%- dir %>/assets/img/j-top/sp/about_title@3x.png" alt="">
                            </h2>
                        </div>
                        <div class="contents_item_text pc_only">
                            <p>
                                めざす美容師の姿は十人十色。
                            </p>
                            <p>
                                共通するのは「ずっと輝いていたい」。
                            </p>
                            <p>
                                そのために必要なことはただひとつ。
                            </p>
                            <p>
                                それは「美容という仕事を楽しむ」ことです。
                            </p>
                            <p>
                                お客様の「ありがとう」をエネルギーにして<br>「美容を楽しむ人生」が待っています。
                            </p>
                        </div>
                        <div class="contents_item_text sp_only">
                            <p>
                                めざす美容師の姿は十人十色。
                            </p>
                            <p>
                                共通するのは「ずっと輝いていたい」。
                            </p>
                            <p>
                                そのために必要なことはただひとつ。
                            </p>
                            <p>
                                それは「美容という仕事を楽しむ」ことです。
                            </p>
                            <p>
                                お客様の「ありがとう」をエネルギーにして<br>「美容を楽しむ人生」が待っています。
                            </p>
                        </div>
                        <div class="btn_wrap">
                            <div class="btn c-btn -red"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">学校の特色をみる</span><span class="btn__arrow"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="canpass -j">
            <div class="canpass_mv">
                <div class="canpass_mv_wrap">
                    <img class="pc_only" src="<%- dir %>/assets/img/j-top/canpass_life_mv@3x.png" alt="">
                    <img class="sp_only" src="<%- dir %>/assets/img/j-top/sp/canpass_life_mv@3x.png" alt="">
                </div>
            </div>
            <div class="c-wrapper -w1200 canpass_wrap">
                <div class="canpass_wrap_title">
                    <h2>
                        <img src="<%- dir %>/assets/img/j-top/canpass_life_title@3x.png" alt="">
                    </h2>
                </div>
                <div class="canpass_wrap_contents">
                    <ul class="contents">
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img class="pc_only" src="<%- dir %>/assets/img/j-top/campuslife001@3x.png" alt="">
                                    <img class="sp_only" src="<%- dir %>/assets/img/j-top/sp/campuslife001@3x.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -white">
                                            <span>ジェイヘアショー</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            2年間の学びの結晶。華やかな衣装、ランウェイ。<br>湧き上がる歓声…、みんなが主役のイベントです。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/j-top/campuslife002@3x.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -white">
                                            <span>毎日の実習</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            仲間同士で授業内容を教え合い、学び合っています。<br>友人から褒められる言葉も、やっぱりうれしい。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/j-top/campuslife003@3x.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -white">
                                            <span>スポーツ大会</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            ユニフォームを揃えおしゃれを楽しんだり、円陣を組んでクラスの団結力を強めたり、スポーツを通じて仲間との絆を深めることができる一大行事です。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/j-top/campuslife004@3x.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -white">
                                            <span>学園祭</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            日頃お世話になってる保護者の方々、地域のお客様に心を込めておもてなし。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/j-top/campuslife005@3x.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -white">
                                            <span>国家資格取得</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            少人数だからこそ手厚く指導しています。全員合格を目指して試験当日まで精一杯サポートします。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -red">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">詳しくみる</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="column">
            <div class="c-wrapper -w1200 column_wrap">
                <div class="column_wrap_title">
                    <h2>
                        <img src="<%- dir %>assets/img/j-top/column_title@3x.png" alt="">
                    </h2>
                </div>
                <div class="column_wrap_contents">
                    <ul class="contents">
                        <li class="contents_item">
                            <a>
                                <div class="visual">
                                    <div class="img">
                                        <img src="<%- dir %>assets/img/j-top/column001@3x.png" alt="">
                                    </div>
                                    <div class="ctg">
                                        <span>オープンキャンパス</span>
                                    </div>
                                </div>
                                <div class="material">
                                    <div class="time">
                                        <time>
                                            20.10.10
                                        </time>
                                    </div>
                                    <div class="text">
                                        <p>★1月23日オープンキャンパス★</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="contents_item">
                            <a>
                                <div class="visual">
                                    <div class="img">
                                        <img src="<%- dir %>assets/img/j-top/column002@3x.png" alt="">
                                    </div>
                                    <div class="ctg">
                                        <span>スクールライフ</span>
                                    </div>
                                </div>
                                <div class="material">
                                    <div class="time">
                                        <time>
                                            20.10.10
                                        </time>
                                    </div>
                                    <div class="text">
                                        <p>♥2022年度パンフレット撮影♥</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="contents_item">
                            <a>
                                <div class="visual">
                                    <div class="img">
                                        <img src="<%- dir %>assets/img/j-top/column003@3x.png" alt="">
                                    </div>
                                    <div class="ctg">
                                        <span>スクールライフ</span>
                                    </div>
                                </div>
                                <div class="material">
                                    <div class="time">
                                        <time>
                                            20.10.10
                                        </time>
                                    </div>
                                    <div class="text">
                                        <p>コラムタイトルが入ります。</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="btn_wrap">
                        <div class="btn c-btn -red"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">コラムをみる</span><span class="btn__arrow"></span></a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="opnecanpass">
            <div class="opnecanpass_wrap">
                <div class="opnecanpass_wrap_contents">
                    <div class="heading">
                        <div class="title">
                            <h2>
                                <img src="<%- dir %>assets/img/j-top/opencampus_title.png" alt="">
                            </h2>
                        </div>
                        <div class="sub_title">
                            <p>
                                学校のことや授業だけでなく、施設や在校生の雰囲気まで1日ですべてがわかる！<br>姉妹校との合同イベントや1日で美容分野がまるっと体験できるイベントなど、<br>きっとあなたの目指す「美容の道」が見つかります。
                            </p>
                        </div>
                        <div class="flow_title">
                            <h3>
                                <img src="<%- dir %>assets/img/j-top/opencampus_sub.png" alt="">
                            </h3>
                        </div>
                    </div>
                    <div class="flow">
                        <div class="flow_contents">
                            <img class="pc_only" src="<%- dir %>assets/img/j-top/opencampus_content.png" alt="">
                            <img class="sp_only" src="<%- dir %>assets/img/j-top/sp/opencampus_content@3x.png" alt="">
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="btn c-btn -red"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">オープンキャンパスに行く</span><span class="btn__arrow"></span></a></div>
                    </div>
                </div>
                <div class="online_explain">
                    <div class="online_explain_wrap">
                        <div class="contents">
                            <div class="text">
                                <div class="title">
                                    <div class="main_title">
                                        <h3>
                                            <img src="<%- dir %>assets/img/j-top/online_explain_title@3x.png" alt="">
                                        </h3>
                                    </div>
                                    <h4 class="sub_title">スマホやPCなどで、<br class="sp_only">どこからでも参加OK♪</h4>
                                </div>
                                <div class="detail">
                                    <p>
                                        オープンキャンパスや説明会に参加したい、<br>
                                        でもなかなか参加できないという方を対象に、<br>
                                        専用アプリ「Zoom」を使ったオンライン学校説明会を開催しています！
                                    </p>
                                    <div class="note">
                                        <p>※参加者同士で名前や顔がわかることはありませんので、安心してご視聴ください。</p>
                                    </div>
                                </div>
                                <div class="btn_wrap">
                                    <div class="btn c-btn -red"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">オンラインで参加する</span><span class="btn__arrow"></span></a></div>
                                </div>
                            </div>
                            <div class="img">
                                <img class="pc_only" src="<%- dir %>assets/img/j-top/online_expalin_img@3x.png" alt="">
                                <img class="sp_only" src="<%- dir %>assets/img/j-top/sp/online_expalin_img@3x.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="course_intro">
            <div class="course_intro_wrap c-wrapper -w1200">
                <div class="title">
                    <div class="title_wrap">
                        <h2>
                            <img src="<%- dir %>/assets/img/j-top/course_title@3x.png" alt="">
                        </h2>
                    </div>
                </div>
                <div class="contents">
                    <ul class="contents_list">
                        <li class="contents_list_item">
                            <div class="item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/j-top/course001@3x.png" alt="">
                                </div>
                                <div class="text">
                                    <div class="detail">
                                        <p>
                                            テキストが入ります
                                        </p>
                                    </div>
                                    <div class="title -gold">
                                        <h3>
                                            ヘアスタイリスト専攻
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/j-top/course002@3x.png" alt="">
                                </div>
                                <div class="text">
                                    <div class="detail">
                                        <p>
                                            テキストが入ります
                                        </p>
                                    </div>
                                    <div class="title -gold">
                                        <h3>
                                            ヘアメイク専攻
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -red">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">コースの紹介を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="recommend">
            <div class="recommend_wrap">
                <div class="recommend_wrap_title">
                    <div class="title">
                        <h2>
                            <img src="<%- dir %>/assets/img/j-top/recommend_title@3x.png" alt="">
                        </h2>
                    </div>
                </div>
                <div class="recommend_wrap_catch -white">
                    <p>
                        2択の質問に答えていくだけで、<br>
                        あなたにふさわしい専攻が分かる！
                    </p>
                </div>
                <div class="recommend_wrap_text">
                    <p>
                        AIE、ジェイの全専攻コースに対応していますので、美容業界に興味のある方は是非試してみて、<br class="pc_only">
                        コース選定の参考にしてみて下さい！
                    </p>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -white">
                        <a href="" class="btn__inner c-btn__inner -black"><span class="btn__txt">適性診断をする</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="facility">
            <div class="c-wrapper -w1200 facility_wrap">
                <div class="contents">
                    <div class="title">
                        <div class="title_wrap">
                            <h2>
                                <img src="<%- dir %>/assets/img/j-top/facility_title@3x.png" alt="">
                            </h2>
                        </div>
                    </div>
                    <div class="sub_title">
                        <h3>
                            しっかりとした技術を身につけ<br class="sp_only">ることができるように<br>
                            全国トップクラスの施設と設備を用意しています。
                        </h3>
                    </div>
                    <div class="detail">
                        <p>
                            実際のサロンを想定したバックシャンプー台を20台、モノトーンで落ち着いたサイドシャンプー台を
                            <br>20台が備わっており、カット、スタイリングなどのトータルのサロンワークがを学ぶことができます。
                        </p>
                    </div>
                    <div class="img">
                        <div>
                            <img src="<%- dir %>/assets/img/j-top/facility_content@3x.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">施設・設備を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">校内360°パノラマを見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="support">
            <div class="c-wrapper -w1200 support_wrap">
                <div class="title">
                    <div class="title_wrap">
                        <h2>
                            <img src="<%- dir %>/assets/img/j-top/support_title@3x.png" alt="">
                        </h2>
                    </div>
                </div>
                <div class="sub_title">
                    <h3>
                        就職のサポートが充実しています。就職サポートでアドバイスを受けて、内定まで一直線！<br>プロからの技術を学ぶ機会や、卒業生からの体験談を聞くことができるイベントなどもあります。
                    </h3>
                </div>
                <div class="contents">
                    <ul class="contents_list">
                        <li class="contents_list_item">
                            <div class="img">
                                <img src="<%- dir %>/assets/img/j-top/support001@3x.png" alt="">
                            </div>
                            <div class="text">
                                <h4>就職ガイダンス</h4>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="img">
                                <img src="<%- dir %>/assets/img/j-top/support002@3x.png" alt="">
                            </div>
                            <div class="text">
                                <h4>都内就職フェア参加</h4>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="img">
                                <img src="<%- dir %>/assets/img/j-top/support003@3x.png" alt="">
                            </div>
                            <div class="text">
                                <h4>ジェイターンサポート</h4>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="img">
                                <img src="<%- dir %>/assets/img/j-top/support004@3x.png" alt="">
                            </div>
                            <div class="text">
                                <h4>国家試験サポート</h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner">
                    <ul class="banner_list">
                        <li class="banner_list_item">
                            <a class="banner_wrap">
                                <img src="<%- dir %>/assets/img/j-top/support_banner01.png" alt="">
                            </a>
                        </li>
                        <li class="banner_list_item">
                            <a class="banner_wrap">
                                <img src="<%- dir %>/assets/img/j-top/support_banner02.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">就職・資格を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="news">
            <div class="c-wrapper -w1200  news_wrap">
                <div class="news_wrap_head clearfix">
                    <div class="title">
                        <div class="title_wrap">
                            <h2>
                                <img src="<%- dir %>/assets/img/j-top/news_title@3x.png" alt="">
                            </h2>
                        </div>
                    </div>
                    <div class="btn_wrap pc_only">
                        <div class="btn c-btn -black">
                            <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">一覧を見る</span><span class="btn__arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="news_wrap_list">
                    <ul class="news_list">
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>新型コロナウイルス感染症の拡大に伴う一部業務縮小について</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>AOエントリーが締切間近となっております</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>受験生の皆様へ</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>テキストが入りますテキストが入りますテキストが入ります</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>テキストが入りますテキストが入りますテキストが入ります</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap sp_only">
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">一覧を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>