<%- include('./_config.ejs'); %>

<% dir = "./" %>
<% title = "トップページ" %>
<% body_class = "aie-top" %>


<%- include('./header.ejs'); %>

<header class="l-header">
    <%- include('./Block/block-header.ejs'); %>
</header>

<div class="l-contents <%- body_class; %>">
    <main class="l-main">
        <section class="mv">
            <div class="mv_wrap">
                <div class="slider_wrap">
                    <ul class="slider aie_slider">
                        <li class="aie_slider_item">
                            <div class="img">
                                <div class="pc_only">
                                    <img src="<%- dir %>assets/img/aie-top/mv001.png" alt="">
                                </div>
                                <div class="sp_only">
                                    <img src="<%- dir %>assets/img/aie-top/sp/mv001@3x.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="aie_slider_item">
                            <div class="img">
                                <div class="pc_only">
                                    <img src="<%- dir %>assets/img/aie-top/mv003.png" alt="">
                                </div>
                                <div class="sp_only">
                                    <img src="<%- dir %>assets/img/aie-top/sp/mv001@3x.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="aie_slider_item">
                            <div class="img">
                                <div class="pc_only">
                                    <img src="<%- dir %>assets/img/aie-top/mv002.png" alt="">
                                </div>
                                <div class="sp_only">
                                    <img src="<%- dir %>assets/img/aie-top/sp/mv001@3x.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="school_concept">
            <div class="school_concept_wrap">
                <div class="concept_title -aie">
                    <h2 class="concept">幅広いジャンルの“キレイ”を学べる</h2>
                </div>
                <div class="concept_img -aie">
                    <div class="concept_img_wrap">
                        <img class="pc_only" src="<%- dir %>/assets/img/aie-top/shool_concept@3x.png" alt="">
                        <img class="sp_only" src="<%- dir %>/assets/img/aie-top/sp/shool_concept@3x.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="about_wrap">
                <div class="contents">
                    <div class="contents_img">
                        <img class="pc_only" src="<%- dir %>/assets/img/aie-top/about_aie.png" alt="">
                        <img class="sp_only" src="<%- dir %>/assets/img/aie-top/sp/about_aie@3x.png" alt="">
                    </div>
                    <div class="contents_item">
                        <div class="contents_item_title">
                            <h2>
                                <img class="pc_only" src="<%- dir %>/assets/img/aie-top/about_title@3x.png" alt="">
                                <img class="sp_only" src="<%- dir %>/assets/img/aie-top/sp/about_title@3x.png" alt="">
                            </h2>
                        </div>
                        <div class="contents_item_text pc_only">
                            <p>
                                AIEで学ぶ学生は<br>
                                日々キレイになっていきます。
                            </p>
                            <p>
                                それは、単にエステやメイクの勉強をしているからではなく、
                                <br>
                                “カラダの内側から美しくなる
                                <br>
                                『インナービューティ』を学んでいるからです。
                            </p>
                            <p>
                                そしてもうひとつは、いるだけでキレイになれるAIEの施設。
                                <br>
                                五感を刺激する美環境で、AIEがあなたのキレイをサポートします。
                            </p>
                            <p>
                                私たちは、きっともっとキレイになれる。
                            </p>
                        </div>
                        <div class="contents_item_text sp_only">
                            <p>
                                心で触れること。
                                <br>
                                いろいろな、「美」と「人」に触れること。
                            </p>
                            <p>
                                体で触れること。<br>
                                いろいろな、<br>
                                「技術」と「知識」に触れること。
                            </p>
                            <p>
                                五感レベルでしっかりと触れること。<br>
                                私自身が美しくなること。
                            </p>
                            <p>
                                アイで経験する、たくさんの触れることは、<br>
                                「すべての高い技術の修得」と<br>
                                「おもてなしの心の熟成」、<br>
                                「内側からの真の美しさ」を約束します。
                            </p>
                        </div>
                        <div class="btn_wrap">
                            <div class="btn c-btn -blue"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">学校の特色をみる</span><span class="btn__arrow"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="canpass -aie">
            <div class="canpass_mv">
                <div class="canpass_mv_wrap">
                    <img src="<%- dir %>/assets/img/aie-top/canpass_life_mv@3x.png" alt="">
                </div>
            </div>
            <div class="c-wrapper -w1200 canpass_wrap">
                <div class="canpass_wrap_title">
                    <h2>
                        <img src="<%- dir %>/assets/img/aie-top/canpass_life_title@3x.png" alt="">
                    </h2>
                </div>
                <div class="canpass_wrap_contents">
                    <ul class="contents">
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img class="pc_only" src="<%- dir %>/assets/img/aie-top/campuslife001.png" alt="">
                                    <img class="sp_only" src="<%- dir %>/assets/img/aie-top/sp/campuslife001@3x.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -gold">
                                            <span>フィッシングアップショー</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            2年間の学びの結晶。華やかな衣装、ランウェイ。<br>
                                            湧き上がる歓声…、みんなが主役のイベントです。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/aie-top/campuslife002.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -gold">
                                            <span>毎日の実習</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            仲間同士で授業内容を教え合い、学び合っています。<br>友人から褒められる言葉も、やっぱりうれしい。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/aie-top/campuslife003.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -gold">
                                            <span>スポーツ大会</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            ユニフォームを揃えおしゃれを楽しんだり、円陣を組んでクラスの団結力を強めたり、スポーツを通じて仲間との絆を深めることができる一大行事です。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/aie-top/campuslife004.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -gold">
                                            <span>学園祭</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            日頃お世話になってる保護者の方々、地域のお客様に心を込めておもてなし。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_item">
                            <div class="contents_item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/aie-top/campuslife005.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="category ">
                                        <div class="category_inner -gold">
                                            <span>資格取得対策授業</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            それぞれの専攻でしっかりと丁寧に行います。就職活動に活かせる資格を取得していきます。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -blue">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">詳しくみる</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="column">
            <div class="c-wrapper -w1200 column_wrap">
                <div class="column_wrap_title">
                    <h2>
                        <img src="<%- dir %>assets/img/aie-top/column_title@3x.png" alt="">
                    </h2>
                </div>
                <div class="column_wrap_contents">
                    <ul class="contents">
                        <li class="contents_item">
                            <a>
                                <div class="visual">
                                    <div class="img">
                                        <img src="<%- dir %>assets/img/aie-top/column001.png" alt="">
                                    </div>
                                    <div class="ctg">
                                        <span>オープンキャンパス</span>
                                    </div>
                                </div>
                                <div class="material">
                                    <div class="time">
                                        <time>
                                            12.34.56
                                        </time>
                                    </div>
                                    <div class="text">
                                        <p>★1月23日オープンキャンパス★</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="contents_item">
                            <a>
                                <div class="visual">
                                    <div class="img">
                                        <img src="<%- dir %>assets/img/aie-top/column002.png" alt="">
                                    </div>
                                    <div class="ctg">
                                        <span>スクールライフ</span>
                                    </div>
                                </div>
                                <div class="material">
                                    <div class="time">
                                        <time>
                                            78.90.12
                                        </time>
                                    </div>
                                    <div class="text">
                                        <p>♥2022年度パンフレット撮影♥</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="contents_item">
                            <a>
                                <div class="visual">
                                    <div class="img">
                                        <img src="<%- dir %>assets/img/aie-top/column003.png" alt="">
                                    </div>
                                    <div class="ctg">
                                        <span>スクールライフ</span>
                                    </div>
                                </div>
                                <div class="material">
                                    <div class="time">
                                        <time>
                                            20.10.10
                                        </time>
                                    </div>
                                    <div class="text">
                                        <p>コラムタイトルが入ります。</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="btn_wrap">
                        <div class="btn c-btn -blue"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">コラムをみる</span><span class="btn__arrow"></span></a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="opnecanpass">
            <div class="opnecanpass_wrap">
                <div class="opnecanpass_wrap_contents">
                    <div class="heading">
                        <div class="title">
                            <h2>
                                <img src="<%- dir %>assets/img/aie-top/opencampus_title.png" alt="">
                            </h2>
                        </div>
                        <div class="sub_title">
                            <p>
                                学校のことや授業だけでなく、施設や在校生の雰囲気まで1日ですべてがわかる！
                                <br>
                                姉妹校との合同イベントや1日で美容分野がまるっと体験できるイベントなど、
                                <br>
                                きっとあなたの目指す「美容の道」が見つかります。
                            </p>
                        </div>
                        <div class="flow_title">
                            <h3>
                                <img src="<%- dir %>assets/img/aie-top/opencampus_sub.png" alt="">
                            </h3>
                        </div>
                    </div>
                    <div class="flow">
                        <div class="flow_contents">
                            <img class="pc_only" src="<%- dir %>assets/img/aie-top/opencampus_content.png" alt="">
                            <img class="sp_only" src="<%- dir %>assets/img/aie-top/sp/opencampus_content@3x.png" alt="">
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <div class="btn c-btn -blue"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">オープンキャンパスに行く</span><span class="btn__arrow"></span></a></div>
                    </div>
                </div>
                <div class="online_explain">
                    <div class="online_explain_wrap">
                        <div class="contents">
                            <div class="text">
                                <div class="title">
                                    <div class="main_title">
                                        <h3>
                                            <img src="<%- dir %>assets/img/aie-top/online_explain_title@3x.png" alt="">
                                        </h3>
                                    </div>
                                    <h4 class="sub_title">スマホやPCなどで、<br class="sp_only">どこからでも参加OK♪</h4>
                                </div>
                                <div class="detail">
                                    <p>
                                        オープンキャンパスや説明会に参加したい、<br>
                                        でもなかなか参加できないという方を対象に、<br>
                                        専用アプリ「Zoom」を使ったオンライン学校説明会を開催しています！
                                    </p>
                                    <div class="note">
                                        <p>※参加者同士で名前や顔がわかることはありませんので、安心してご視聴ください。</p>
                                    </div>
                                </div>
                                <div class="btn_wrap">
                                    <div class="btn c-btn -blue"><a href="" class="btn__inner c-btn__inner"><span class="btn__txt">オンラインで参加する</span><span class="btn__arrow"></span></a></div>
                                </div>
                            </div>
                            <div class="img">
                                <img class="pc_only" src="<%- dir %>assets/img/aie-top/online_expalin_img@3x.png" alt="">
                                <img class="sp_only" src="<%- dir %>assets/img/aie-top/sp/online_expalin_img@3x.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="course_intro">
            <div class="course_intro_wrap c-wrapper -w1200">
                <div class="title">
                    <div class="title_wrap">
                        <h2>
                            <img src="<%- dir %>/assets/img/aie-top/course_title@3x.png" alt="">
                        </h2>
                    </div>
                </div>
                <div class="contents">
                    <ul class="contents_list">
                        <li class="contents_list_item">
                            <div class="item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/aie-top/course001.png" alt="">
                                </div>
                                <div class="text">
                                    <div class="detail">
                                        <p>
                                            キレイをつくる美のスペシャリストになる
                                        </p>
                                    </div>
                                    <div class="title -gold">
                                        <h3>
                                            エステティシャン専攻
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/aie-top/course002.png" alt="">
                                </div>
                                <div class="text">
                                    <div class="detail">
                                        <p>
                                            心とカラダ、両面からキレイを引き出す
                                        </p>
                                    </div>
                                    <div class="title -gold">
                                        <h3>
                                            アロマ&セラピスト専攻
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="item_wrap">
                                <div class="img">
                                    <img src="<%- dir %>/assets/img/aie-top/course003.png" alt="">
                                </div>
                                <div class="text">
                                    <div class="detail">
                                        <p>
                                            メイクの力で「キレイ」をプロデュース
                                        </p>
                                    </div>
                                    <div class="title -gold">
                                        <h3>
                                            メイクアップアーティスト専攻
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <ul>
                            <li class="contents_list_item">
                                <div class="item_wrap">
                                    <div class="img">
                                        <img src="<%- dir %>/assets/img/aie-top/course004.png" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="detail">
                                            <p>
                                                キレイな花嫁をつくるスペシャリスト
                                            </p>
                                        </div>
                                        <div class="title -gold">
                                            <h3>
                                                ブライダルビューティ専攻
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="contents_list_item">
                                <div class="item_wrap">
                                    <div class="img">
                                        <img src="<%- dir %>/assets/img/aie-top/course005.png" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="detail">
                                            <p>
                                                指先のおしゃれを華麗に演出するプロに
                                            </p>
                                        </div>
                                        <div class="title -gold">
                                            <h3>
                                                ネイリスト専攻
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -blue">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">コースの紹介を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="recommend">
            <div class="recommend_wrap">
                <div class="recommend_wrap_title">
                    <div class="title">
                        <h2>
                            <img src="<%- dir %>/assets/img/aie-top/recommend_title@3x.png" alt="">
                        </h2>
                    </div>
                </div>
                <div class="recommend_wrap_catch -gold">
                    <p>
                        2択の質問に答えていくだけで、<br>
                        あなたにふさわしい専攻が分かる！
                    </p>
                </div>
                <div class="recommend_wrap_text">
                    <p>
                        AIE、ジェイの全専攻コースに対応していますので、美容業界に興味のある方は是非試してみて、<br class="pc_only">
                        コース選定の参考にしてみて下さい！
                    </p>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -white">
                        <a href="" class="btn__inner c-btn__inner -black"><span class="btn__txt">コースの紹介を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="facility">
            <div class="c-wrapper -w1200 facility_wrap">
                <div class="contents">
                    <div class="title">
                        <div class="title_wrap">
                            <h2>
                                <img src="<%- dir %>/assets/img/aie-top/facility_title@3x.png" alt="">
                            </h2>
                        </div>
                    </div>
                    <div class="sub_title">
                        <h3>
                            しっかりとした技術を身につけ<br class="sp_only">ることができるように<br>
                            全国トップクラスの施設と設備を用意しています。
                        </h3>
                    </div>
                    <div class="detail">
                        <p>
                            千葉市都市文化賞にも輝いた校舎に、AIEでは、ハワイ・リラクゼーションの<br>
                            最新スタイルを取り入れたバスルームや、本物に近いウェディングルームやチャペルが備わっています。
                        </p>
                    </div>
                    <div class="img">
                        <div>
                            <img src="<%- dir %>/assets/img/aie-top/facility_content.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">施設・設備を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">校内360°パノラマを見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="support">
            <div class="c-wrapper -w1200 support_wrap">
                <div class="title">
                    <div class="title_wrap">
                        <h2>
                            <img src="<%- dir %>/assets/img/aie-top/support_title@3x.png" alt="">
                        </h2>
                    </div>
                </div>
                <div class="sub_title">
                    <h3>
                        就職のサポートが充実しています。就職サポートでアドバイスを受けて、内定まで一直線！<br>プロからの技術を学ぶ機会や、卒業生からの体験談を聞くことができるイベントなどもあります。
                    </h3>
                </div>
                <div class="contents">
                    <ul class="contents_list">
                        <li class="contents_list_item">
                            <div class="img">
                                <img src="<%- dir %>/assets/img/aie-top/support001.png" alt="">
                            </div>
                            <div class="text">
                                <h4>大企業が続々来校！</h4>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="img">
                                <img src="<%- dir %>/assets/img/aie-top/support002.png" alt="">
                            </div>
                            <div class="text">
                                <h4>面接練習</h4>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="img">
                                <img src="<%- dir %>/assets/img/aie-top/support003.png" alt="">
                            </div>
                            <div class="text">
                                <h4>メイク講義</h4>
                            </div>
                        </li>
                        <li class="contents_list_item">
                            <div class="img">
                                <img src="<%- dir %>/assets/img/aie-top/support004.png" alt="">
                            </div>
                            <div class="text">
                                <h4>卒業生トークイベント</h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner">
                    <ul class="banner_list">
                        <li class="banner_list_item">
                            <a class="banner_wrap">
                                <img src="<%- dir %>/assets/img/aie-top/support_banner01.png" alt="">
                            </a>
                        </li>
                        <li class="banner_list_item">
                            <a class="banner_wrap">
                                <img src="<%- dir %>/assets/img/aie-top/support_banner02.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap">
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">就職・資格を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="news">
            <div class="c-wrapper -w1200  news_wrap">
                <div class="news_wrap_head clearfix">
                    <div class="title">
                        <div class="title_wrap">
                            <h2>
                                <img src="<%- dir %>/assets/img/aie-top/news_title@3x.png" alt="">
                            </h2>
                        </div>
                    </div>
                    <div class="btn_wrap pc_only">
                        <div class="btn c-btn -black">
                            <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">一覧を見る</span><span class="btn__arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="news_wrap_list">
                    <ul class="news_list">
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>新型コロナウイルス感染症の拡大に伴う一部業務縮小について</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>AOエントリーが締切間近となっております</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>受験生の皆様へ</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>テキストが入りますテキストが入りますテキストが入ります</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="news_list_item">
                            <div class="list_item">
                                <div class="info">
                                    <time class="time">
                                        20.10.10
                                    </time>
                                    <div class="ctg">
                                        <span>カテゴリー</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="title">
                                        <a>テキストが入りますテキストが入りますテキストが入ります</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap sp_only">
                    <div class="btn c-btn -black">
                        <a href="" class="btn__inner c-btn__inner"><span class="btn__txt">一覧を見る</span><span class="btn__arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<footer class="l-footer">
    <%- include('./Block/block-footer.ejs'); %>
</footer>

<%- include('./footer.ejs'); %>